<div id="static-page">
	
	<div id="content">
		
		<div id="columns-holder">
			<div class="top-box inner">
				<h2><span class="left"></span><span class="center other2"><%= "What's this?" %></span><span class="right"></span></h2>
			</div>
			<div class="menu-box full">
			</div>
			<div class="content-area">
				<div class="content-text">
					<h4>Fail</h4>
					<p>It seems something went wrong in our matrix. The sharedearth.net administrator has been notified. Return <a href="/">home</a>.</p>
				</div>
			</div>
		</div>
		
	</div><!--	/content  -->
	
</div><!--	/static-page  -->


