<% content_for(:hide_on_policy_class, 'hide-on-policy-page') unless current_person.accepted_tr? %>

<div id="site-information-pages" class="transparency">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net - from ego to wego", :title => "sharedearth.net - from ego to wego"  %>
		<h2>Transparency Policy</h2>



		<h3>
          <br>
          sharedearth.net is a commons-based platform for coordinating resources and skills as a community. Important values within commons culture are sharing, transparency and openness.
        </h3>


        <h3>
          <br>
            <i>For information about the administration and operation of sharedearth.net, please explore resources available at <a class="green" href="http://sharedearthplatform.org" title="sharedearth platform">sharedearthplatform.org</a>.</i>
        </h3>

		<h3>
          <br>
                To encourage the development of commons culture, sharedearth.net prioritises transparency over privacy, therefore there is very little privacy functionality currently built into the platform.
        </h3>

		<h3>
          <br>
                We have prepared this Policy to explain the use, protection and  availability of information that personally identifies you on the site.
        </h3>

		<h3>
          <br>
            <strong>
                    By using this site you signify your consent to this Policy.
            </strong>
        </h3>


        <h3>
          <br>
            <strong>
                    Please read it in full before using the site.
            </strong>
        </h3>


		
		<h4>
          <br>
            Privacy Statement
        </h4>
		
		<p>
			As sharedearth.net is not seeking to profit from your personal information, there is no need for the operator of sharedearth.net to collect, store or sell information that personally identifies you.
		</p>
		
		<p>
		    Currently the only personal information that is <strong>required</strong> is:
		    <br>

            - Your email address (currently automatically extracted via Facebook Connect)
        </p>
		
		<p>
            <h5>
                sharedearth.net is committed to maintaining the privacy of the Personal Information required to use the site.
            </h5>
        </p>
		
		<h4>
           <br>
           Transparency Statement
        </h4>
		
		<p>
			No other Personal Information is required to use sharedearth.net.
		</p>
		
		<p>
			However the provision of additional Personal Information may help build your online trust and reputation profile, increasing the likelihood that others will willingly share and gift their resources and skills with you.
		</p>
		
		<p>
			Areas of the site that display or use information that you choose to provide are, your screen name, your location, the people in your trusted network, the actions and interactions you participate in and so on. 
		</p>
		
		<p>
			Although there is no requirement to use information that personally identifies you, community perceptions of you and therefore interactions on the site, may be shaped by their perceived authenticity.
		</p>
		
	
		<p>
			<h5>
              At sharedearth.net any information that you choose to provide, or results from interactions on the site, will be accessible to other users as a mechanism for building trust, and transparency.
            </h5>
		</p>
		
		
		<h4>
          <br>
          Transparency and Common Sense
        </h4>
		
		<p>
			The transparency and availability of information on sharedearth.net may lead to malicious behaviour.
		</p>
		
		<p>
			Any users of the site can access the information you choose to provide. This means that any person or entity with access to such information can potentially use it for any purpose.
		</p>
		
		<p>
			You may be concerned that if you post details about the items you have to share or give, then others may come to your house to steal or damage the items. The main way to avoid this risk is by not posting your physical address on the site (perhaps provide a phone number instead), and by using common sense when choosing to engage in interactions with other users.
		</p>
		
		<p>
			<h5>As one of the intentions of this site is to build commons culture with the values of sharing and transparency, if you are concerned about your privacy you may decide not to use this site.</h5>
		</p>
		
		<h4>What We Collect - Personal Information</h4>
		
		<p>
			Due to the use of Facebook Connect, certain personal details are collected when you initially connect. The only information that is stored from Facebook is your email address. 
		</p>
		
		<p>
			In addition, during the connection process, your Facebook name is extracted to provide a default display name, and your list of Facebook friends is collected to allow sharedearth.net to advise whether your friends have connected to the network. 
		</p>
		
		<p>
			By default, you can change the name that you use on sharedearth.net, and friend information is only stored for those friends who have also connected to the site.
		</p>
		
		<p>
			As previously mentioned, the provision of any other personal information is not required, and if provided, accessible to the other users on the site.
		</p>
		
		<p>
			All correspondence from you may also be collected and stored. This may be via email, mail, telephone or directly through the website. 
		</p>
		
		<h4>What We Collect – Non-Personal Information</h4>
		
		<p>
			We automatically collect information that does not reflect or reference an individually identifiable user (‘Non-Personal Information’) to help us understand how our users use the site. Like most websites, we automatically collect and use the data contained in log files. The information in the log files may include your IP (internet protocol) address, your ISP (internet service provider), the web browser you used, time you visited the site, which pages you visited and other anonymous site usage data. 
		</p>
		
		<h4>What we do with the Information</h4>
		
		<p>
			We use Personal Information and Non-Personal Information for internal purposes. These purposes include keeping you informed about updates to the site, administering the site and making decisions about improving the site for its users. 
		</p>
		
		<h4>Disclosure of the Information</h4>
		
		<p>
			We will not sell, share or rent the Personal Information you are required to provide with third parties.
		</p>
		
		<p>
			As previously mentioned, Personal Information that you choose to provide through interactions with the site will be available to other users on the site.
		</p>
		
		<p>
			From time to time we may establish relationships with trustworthy service providers who assist us in providing the services we are providing to you through this site. To the extent that we share Personal Information with a service provider so they may provide these services, we would only do so if their privacy practices are consistent with ours.
		</p>
		
		
		
		<h4>Security of Collected Information</h4>
		
		<p>
			The information that we collect is stored on servers that are managed using standard security procedures and practices appropriate to the nature of the information. These security measures are designed to protect the information from unauthorised access, destruction, use, modification or disclosure.
		</p>
		
		<p>
			However no transmission over the Internet can be designed to be 100 per cent secure. As a result, we cannot and do not guarantee or warrant the security of any information you transmit on or through the site, and you do so at your own risk. 
		</p>
		
		<h4>Cookies </h4>
		
		<p>
			A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree the file is added and the cookie helps analyse web traffic or allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering information about your preferences.
			
		</p>
		
		<p>
			Cookies allow us to provide you with a better website by enabling us to monitor which pages you find useful and which you do not. Cookies in no way give us access to your computer or any additional information about you. 
		</p>
		
		<p>
			You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually accept or decline cookies if you prefer. This may prevent you from taking full advantage of the website.
		</p>
		
		<h4>Links </h4>
		
		<p>
			This site contains links to other websites. These links are meant for you convenience only. Links to third party websites do not constitute sponsorship, endorsement or approval of these websites. 
		</p>
		
		<p>
			Please be aware that sharedearth.net is not responsible for the privacy practices of such other websites. We encourage our users, when they leave our website, to read the privacy statements of each and every website visited. This Transparency and Privacy Policy applies solely to information collected by this site. 
		</p>
		
		<h4>Transparency Policy Changes</h4>
		
		<p>
			We may modify this policy at any time, in our sole discretion, and all modifications will be effective immediately upon posting on this website. Please return periodically to review this Policy.
		</p>
		
		<h4>Feedback and Suggestions</h4>
		
		<p>
			We are aware that this Transparency Policy is unusual compared to the standard templates for the current generation of social networking sites. sharedearth.net is an ongoing experiment in the creation of a culture built around the commons, sharing, transparency, love and our interconnection.
		</p>

		<p>
			We welcome your feedback, concerns and offers of assistance in bringing this culture to life. Please contact us at <a class="grey" href="mailto:transparency@sharedearth.net">transparency@sharedearth.net</a> with your thoughts.
		</p>
		
	
		
		<h3 class="bottom-title">
			Continued use of the site will be taken as conclusive evidence of your acceptance of the Transparency Policy.
		</h3>
		<% if !current_user.nil? -%>
		  <% if !current_user.person.accepted_tr? -%>
		    <div class="buttons-holder">
			    <ul class="action-buttons-list clearfix">
				    <li>
					    <%= link_to 'Accept', accept_tr_transparency_index_path, :method => 'put', :class => 'positive' %>
				    </li>
				    <li class="no">
					    <%= link_to 'Reject', signout_path, :class => 'positive' %>
				    </li>
			    </ul>
		    </div>
		  <% end -%>
		<% end -%>
		
		
	</div><!--	/content -->
	
</div><!--	/transparency-policy-page -->
