<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>sharedearth.net - trust. share. connect.</title>
	

	<style>
		body  {
			margin: 0;
			padding: 0;
		}
	
	</style>
	
</head>
<body>

<div id="container" style="width: 650px; margin: 0 auto; ">
		<%= image_tag("http://sharedearthplatform.org/static/graphics/emailv1-top-pic.jpg", :alt => "sharedearth.net - trust. share. connect.", :title => "sharedearth.net - trust. share. connect.", :style => "display: block;" )  %>
	
	<div id="content" style="width: 520px; margin: 0 auto;">
		
		<p style="font-family: verdana, arial, sans-serif; font-size: 14px; color: #033333; line-height: 50px;">
			Dear human being,
			<br />
			You are invited to connect to <a title="sharedearth.net" style="font-size: 16px; font-weight: bold; color: #033333; text-decoration: none;" href="http://sharedearth.net/">sharedearth.net</a>.
			<br />
			Your invitation code is:
		</p>
		<p style="font-family: verdana, arial, sans-serif; font-size: 24px; color: #033333; line-height: 50px; text-align: center;">
			<%= @invitation_code %>
		</p>
		
		<p style="font-family: verdana, arial, sans-serif; font-size: 14px; color: #033333; line-height: 50px; text-decoration: none;">
			Look forward to seeing you there!
			<br />
            <i>Dan & the <a style="text-decoration: none; color: #033333;" href="sharedearth.net">sharedearth.net</a> community</i>
		</p>
		
	</div>


	<div id="footer">
	    <p style="text-align: center;">
            <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/about">About</a> <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/terms/principles">Principles</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/transparency">Transparency</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/contribute">Contribute</a> <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="mailto:info@sharedearth.net">Contact</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/terms">Terms</a>
        </p>
	</ul>
        <%= image_tag("http://sharedearthplatform.org/static/graphics/emailv1-bottom-pic.jpg", :alt => "sharedearth.net - trust. share. connect.", :title => "sharedearth.net - trust. share. connect.", :style => "display: block;" )  %>
	</div>
		
</div>

</body>
</html>