<p>Dear,</p>

<p>You are invited to join sharedearth by your friend! Please go to sharedearth.net and use invitation code below</p>

<p><%= @invitation_code %></p>

<p>Become part of history and change world with love.</p>


   Sharedearth
