<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>sharedearth.net - Invitation</title>
	

	<style>
		body  {
			margin: 0;
			padding: 0;
		}
	
	</style>
	
</head>
<body>

<div id="container" style="width: 650px; margin: 0 auto; ">
		<%= image_tag("http://sharedearthplatform.org/static/graphics/emailv1-top-pic.jpg", :alt => "sharedearth.net - trust. share. connect.", :title => "sharedearth.net", :style => "display: block;" )  %>
	
	<div id="content" style="width: 580px; margin: 0 auto;">
		
		<p style="font-family: verdana, arial, sans-serif; font-size: 12px; color: #333;">
			Dear human being,
			<br />
            <br />
			You are invited to connect to <a title="sharedearth.net" style="font-size: 12px; font-weight: bold; color: #333; text-decoration: none;" href="http://sharedearth.net/">sharedearth.net</a>, a social network to help us share our possessions and skills, while laying foundations for a culture of gifting, sharing, collective responsibility and cooperation.
			<br />
            <br />
            The community and platform is in its nascent stage, and if the vision of a world built around gift culture and sharing resonates with you, I'd encourage you to actively <strong>share at least 3 items</strong> on the network when you connect. For inspiration, maybe you have tools, sports gear, camping equipment, costumes, or music equipment that can be shareable.
		    <br />
            <br />
            The more we share, the more resources we'll have available, and the greater the incentive for others to share their gifts as well.
            <br />
            <br />
            <br />
            To connect, visit <a title="sharedearth.net" style="font-size: 12px; font-weight: normal; color: #333; text-decoration: underline;" href="http://sharedearth.net/">sharedearth.net</a>, login via Facebook and use the invitation code <em><%= @invitation_code %></em>
            <br />
            Once you've accepted the terms and principles, connect to friends and then share 3 items.
            <br />
            <br />
            <br />
            Look forward to seeing you there, and building this vision together.
            <br />
            <br />
            <em>With love, Dan & the <a title="sharedearth.net" style="font-size: 12px; font-weight: normal; color: #333; text-decoration: none; font-style: italic; " href="http://sharedearth.net/">sharedearth.net</a> community</em>
            <br />
            <br />
            p.s. The site is still in heavy development, not all features are implemented and you may encounter issues. Please be patient, this is a community project without profit. If you feel inspired to <a title="contribute" style="font-size: 12px; font-weight: normal; color: #333; text-decoration: underline;" href="http://sharedearth.net/contribute">contribute</a>, please get in <a title="contribute" style="font-size: 12px; font-weight: normal; color: #333; text-decoration: underline;" href="mailto:contribute@sharedearth.net">touch</a>.
		</p>
		<p style="font-family: verdana, tahoma, arial, sans-serif; font-weight: bold; font-size: 14px; color: #127e0e; text-align: center; line-height: 50px;">
            A World Vibrating with Trust, Sharing, Love and Interconnection
		</p>
		
	</div>


	<div id="footer">
	    <p style="text-align: center;">
            <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/about">About</a> <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/terms/principles">Principles</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/transparency">Transparency</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/contribute">Contribute</a> <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="mailto:info@sharedearth.net">Contact</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/terms">Terms</a>
        </p>
	</ul>
        <%= image_tag("http://sharedearthplatform.org/static/graphics/emailv1-bottom-pic.jpg", :alt => "sharedearth.net - trust. share. connect.", :title => "sharedearth.net - trust. share. connect.", :style => "display: block;" )  %>
	</div>
		
</div>

</body>
</html>