<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>Recent Activity on sharedearth.net</title>
	

	<style>
		
		a:link,
		a:visited {
			text-decoration: none;
			color: #62775A;
		}
		
		a:hover {
			text-decoration: underline;
		}
		
		/*.content-box-holder {
		    margin: 14px 0;
		}
		
		.content-box-holder img {
		    display: block;
		}
		
		h2 {
			
		}
		*/
		.content-box .thumb {
		    width: 50px;
			display: none;
		}
		
		.content-box {
		    
		}
		
		.content-box p {
			font-size: 12px;
			padding: 0;
			margin: 0;
			width: 400px;
			float: left;
			line-height: 14px;
		}
		
		.content-box p a:link,
		.content-box p a:visited {
		    color: #333;
		}
		
		
		.content-box p a.positive:link,
		.content-box p a.positive:visited {
			color: #127E0E;
		}
		
		ul {
			margin: 0;
			padding: 0;
		}
		
		ul li {
			list-style-type: none;
		}
		
		.action ul {
			width: 80px;
			float: left;
		}
		
		.action ul li {
			line-height: 14px;
			font-size: 11px;
		}
		
		.action ul li a:link,
		.action ul li a:visited {
			color: #62775A;
		    font-size: 12px;
		}
		
		.action ul li.time-since {
			background: red;
			display: none;
		}
		
		a.button-more {
			display: none;
		}

	</style>
	
</head>
<body style="font-family: 'lucida grande',verdana,tahoma,arial,sans-serif; margin: 0; padding: 0;">

<div id="container" style="width: 650px; margin: 0 auto; ">
	<%= image_tag("http://sharedearthplatform.org/static/graphics/emailv1-top-pic.jpg", :alt => "sharedearth.net - trust. share. connect.", :title => "sharedearth.net - trust. share. connect.", :style => "display: block;" )  %>
	<div id="content" style="width: 650px; margin: 0 auto 70px auto;">
		
		<div class="content-box-holder" style=" margin: 14px 0;">
			<ul style="margin: 0; padding: 0;">
				<li class="content-box clearfix" style="padding: 0 15px 21px 0; width: 481px; list-style-type: none;">
					<h2 style="padding: 0; margin: 0; line-height: 15px; margin-bottom: 0; color: #315859; font-size: 12px;	font-weight: bold;">
						Your Recent Activity on <a style="font-size: 12px; color: #315859; font-weight: bold; text-decoration: none;" href="http://sharedearth.net" title="sharedearth.net">sharedearth.net</a>
					</h2>

				</li>
                <p style="padding: 0; margin: 0; line-height: 20px; margin-left: 15px; color: #333; font-size: 12px;	font-weight: normal;">
			    <% @recent_activity_logs.each do |activity_log| %>
						<%= notify_recent_activity_sentence(activity_log, @current_user) + '<br />'.html_safe %>
				<% end unless @recent_activity_logs.nil? || @recent_activity_logs.empty? %>
		        </p>
                <br />
                <a style="font-size: 12px; color: #62775a; text-decoration: underline;" href="http://sharedearth.net" title="Go to sharedearth.net">Go to sharedearth.net</a>
			</ul>
		</div><!-- /content-box-holder -->
		
		
	</div><!-- /content -->


	<div id="footer" style="clear: both; text-align: center">
	    <p style="text-align: center">
            <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/about">About</a> <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/terms/principles">Principles</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/transparency">Transparency</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/contribute">Contribute</a> <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="mailto:info@sharedearth.net">Contact</a>  <a style="font-size: 11px; color: #78ba00; text-align: center; text-decoration: none;" href="sharedearth.net/terms">Terms</a>
        </p>
       
	</div>
	<p style="font-size: 10px; color: #9c9e9c; text-align: center">
		To disable email notifications go to <%= link_to "Edit Profile", edit_person_path(@current_user.person, :only_path => false), :style => "font-size: 10px; color: #9c9e9c; text-decoration: underline;" %> and uncheck <em>Enable smart email notifications</em>
	</p>
	 <%= image_tag("http://sharedearthplatform.org/static/graphics/emailv1-bottom-pic.jpg", :alt => "sharedearth.net - trust. share. connect.", :title => "sharedearth.net - trust. share. connect.", :style => "display: block;" )  %>
</div>

</body>
</html>

