<% new_comment ||= false %>
			<div class="inner-content">

				<ul class="comment-list <%= object.comments.count.zero? && !new_comment ? 'comment-list-hidden' : '' %> ">
				<% object.comments.each do |c| -%>

				  <%= render '/comments/comment', :c => c %>

				<% end unless object.comments.empty? -%>

				<%= render 'comments/new', :commentable => object %>

				</ul>
			</div><!-- /inner-content -->	
