<li class="content-box clearfix">	
<!-- img -->	
<%= image_tag 'logo.png', :class => "thumb" %>
	<div class="inner-content">
		<p>								
    		Welcome to sharedearth.net. 
    		Begin sharing to get started.
		</p>

	</div><!-- /inner-content -->	
</li>


