<li class="welcome-message clearfix">

	<div class="inner-content">
		<p>								
    		<span>
				Welcome to sharedearth.net
			</span>
			<br />
            <br>Get started by adding your items via the <i>share</i> button above.
		</p>

	</div><!-- /inner-content -->	
</li>

