<li class="content-box welcome-message clearfix">	
<%= image_tag 'logo.png', :class => "thumb" %>
	<div class="inner-content">
		<p>								
    		<span>
				Welcome to <a class="trusted" href="http://sharedearth.net" title="sharedearth.net - trust. share. connect.">sharedearth.net</a>.
			</span>
			<br />
    		Get started by adding items to share or gift.
		</p>

	</div><!-- /inner-content -->	
</li>

