<li class="content-box clearfix">	
<!-- img -->	
<%= image_tag 'logo.png' %>
	<div class="inner-content">
									<p>
										
    Welcome to sharedearth.net. 
    Begin sharing to get started.
									</p>
					
									<div class="action clearfix">
										<ul>
											<li>
											</li>
										</ul>
									</div>
  <div class="inner-content">
	</div><!-- /inner-content -->	
</li>


