<li class="item clearer">
						<%= image_tag person.avatar(:small), :class => "thumb" %>
						<div>
							<p>
								<%= link_to person.name, person_path(person) %>
							</p>
						</div>
</li>
