<% unless current_user.nil? || current_user.person.accepted_pp?
  content_for(:hide_on_policy_class, 'hide-on-policy-page')
  content_for(:hide_on_policy_top_margin, 'style=margin-top:100px;')
end %>

<div id="site-information-pages" class="principles">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net", :title => "sharedearth.net"  %>
		<h4>
          <%= image_tag "logo-type-large.png", :class => "main-pic", :alt => "sharedearth.net", :title => "sharedearth.net"  %>
          <br>
          Legal Notices
        </h4>

        <p>
			<em>
                sharedearth.net is designed for a world where we each take complete responsibility for our ourselves, each other, our community, and our planet.  That culture is not yet firmly established, so you are required to read and accept the Terms and Conditions.
            </em>
        </p>

              <p>
			<em>
                sharedearth.net prioritises transparency over privacy to encourage the development of commons culture and its values of sharing, transparency and openness. As a consequence there is very little privacy functionality built into the platform. Read the Transparency Policy for more information.
            </em>
        </p>

		<h5>
            <br>
                Continued use of the site will be taken as conclusive evidence of your acceptance of the Terms and Conditions and Transparency Policy.
        </h5>


	</div><!--	/content -->
	
</div><!--	/terms-conditions-page-->
