/* Created by Purecutdesign								*/
/* Contact: tomcanji@purecutdesign.com					*/


/* 1. Clearfix */

.clearfix:after { /* ie.css, ie7.css */
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Common */


html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	color: #fff;
}

body{
	background: url('../graphics/bg-body.jpg') no-repeat center center;
}

h1 {color:#fff;margin:0;padding:0}



html {
	background: url('../graphics/bg-html.png') repeat-x 0 0 ;

}

body {

	
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a:link,
a:visited {
	text-decoration: none;
	color: #949479;
}

a:hover {
	text-decoration: underline;
}
/* container */

#container {
	width: 1002px;
	margin: 0 auto;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -348px;/* half elements height*/
	margin-left: -502px;/* half elements width*/
	height: 688px;
	overflow: auto;/* allow content to scroll inside element */
	text-align: left;
}

h1 {
	width: 309px;
	height: 370px;
	text-indent: -1000em;
	margin: 95px 0 0 153px;
	float: left;
	background: url('../graphics/logo.png') no-repeat top left;
}


	h1 a:link,
	h1 a:visited {
		background: url('../graphics/logo.png') no-repeat top left;
		width: 309px;
		height: 370px;
		display: block;
		overflow: hidden;
	}
	
	/* content */

	#content {
		width: 413px;
		float: left;
		margin: 215px 0 0 0;
		padding: 0 0 0 70px;
	}

		#content p {
			width: 320px;
			font-size: 15px;
			line-height: 18px;
			color: #495943;
			margin-bottom: 10px;
		}
		
		
		.button-holder-connect {
			float: left;
			width: 117px;
			margin-left: 34px;
		}
		
			#content .button-holder-connect p {
				width: auto;
				font-size: 10px;
				font-family: verdana, arial, sans-serif;
				float: none;
				line-height: 12px;
				margin: 0;
			}
		
			.button-holder-connect h2 {
				width: 96px;
				height: 42px;
				text-indent: -1000em;
			}
		
			.button-holder-connect a:link,
			.button-holder-connect a:visited {
				display: block;
				background: url('../graphics/bt-connect.png') no-repeat top left;
				width: 96px;
				height: 42px;
				overflow: hidden;
			}
			
			
		.button-holder-host {
			float: left;
			text-indent: -1000em;
			width: 96px;
		}
		
			.button-holder-host a:link,
			.button-holder-host a:visited {
				display: block;
				background: url('../graphics/bt-host.png') no-repeat top left;
				width: 96px;
				height: 42px;
				overflow: hidden;
			}

		/* Footer */
		
		#footer {
			clear: both;
			text-align: right;
			padding-top: 205px;
		}
		
			#footer p {
				font-size: 10px;
				color: #949479;
				font-family: verdana, arial, sans-serif;
				margin-right: 2px;
			}
			
/* invitation page */


#container.invitation-page {
	
}

	/* content */

	#container.invitation-page #content {
		width: 413px;
		float: left;
		margin: 185px 0 0 0;
		padding: 0 0 0 70px;
	}
	
		#container.invitation-page h2 {
			color: #127e0e;
			font-size: 60px;
			font-family: "Trebuchet MS", "Century Gothic", arial, sans-serif ;
			line-height: 52px;
		}

		#container.invitation-page #content p {
			font-size: 15px;
			line-height: 18px;
			color: #127e0e;
			margin-bottom: 30px;
			font-family: "Trebuchet MS", "Century Gothic", arial, sans-serif ;
		}
		
		#container.invitation-page .form-holder {
			width: 258px;
		}
		
		#container.invitation-page #content .form-holder label {
			color: #62775a;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 3px;
			font-family: "Trebuchet MS", arial, sans-serif ;
		}
		
			#container.invitation-page #content .form-holder p a:link,
			#container.invitation-page #content .form-holder p a:visited {
				color: #62775a;
				text-decoration: underline;
			}
		
			#container.invitation-page .form-holder input[type="text"]{
				width: 256px;
				border: 1px solid #5d6558;
				margin-bottom: 12px;
			}
			
		#container.invitation-page #content .form-holder div p {
			clear: both;
			text-align: right;
			font-size: 14px;
			letter-spacing: -1px;
			width: 258px;
			color: #62775a;
		}
		
		#container.invitation-page .button-holder-request {
			float: left;
			width: 158px;
		}

			#container.invitation-page .button-holder-request h2 {
				width: 158px;
				height: 30px;
				text-indent: -1000em;
			}

			#container.invitation-page .button-holder-request a:link,
			#container.invitation-page .button-holder-request a:visited {
				display: block;
				background: url('../graphics/bt-request.png') no-repeat top left;
				width: 158px;
				height: 30px;
				overflow: hidden;
			}

		#container.invitation-page .button-holder-submit {
			float: left;
			margin-left: 10px;
		}
		
			#container.invitation-page .button-holder-submit h2 {
				text-indent: -1000em;
				width: 90px;
				height: 30px;
			}
		
				#container.invitation-page .button-holder-submit input[type="submit"] {
					text-indent: -1000em;
					border: none;
					display: block;
					background: url('../graphics/bt-submit.png') no-repeat top left;
					width: 90px;
					height: 30px;
					overflow: hidden;
					cursor: pointer;
				}
			
			
		/* message */
		
		#container.invitation-page .message-holder {
			color: #62775a !important;
		}

