/* Created by Purecutdesign								*/
/* Contact: tomcanji@purecutdesign.com					*/


/* 1. Clearfix */

.clearfix:after { /* ie.css, ie7.css */
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

/* Common */


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", arial, sans-serif;
	color: #fff;
}

body{

}

h1 {
	color: #fff;
	margin: 0;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
	overflow-y: scroll;
}

body {
	
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

a:link,
a:visited {
	text-decoration: none;
	color: #949479;
}

a.learn-more:link,
a.learn-more:visited {
	text-decoration: underline;
	color: #495943;
}

a:hover {
	text-decoration: underline;
}

/* container */

#container {
	width: 960px;
	margin: 0 auto;
	min-height: 100%;
	margin-bottom: -264px;
	position: relative;
}

	.logo-holder {
		width: 422px;
		margin: 0 0 0 0;
		float: left;
		background: url('../graphics/separator.png') no-repeat top right;
		padding: 72px 75px 48px 0;
	}

		h1 {
			width: 422px;
			height: 378px;
			text-indent: -1000em;
			background: url('../graphics/logo.png') no-repeat top left;
		}


			h1 a:link,
			h1 a:visited {
				background: url('../graphics/logo.png') no-repeat top left;
				width: 422px;
				height: 378px;
				display: block;
				overflow: hidden;
			}
	
	/* content */

	#content {
		width: 463px;
		float: left;
		padding-top: 72px;
	}

		#content p {

		}
		
		.button-holder-connect {
			width: 374px;
			margin: 0 auto;
			padding: 26px;
			box-shadow: 0px 0px 5px #aaa;
		}
		
			#content .button-holder-connect p {
				text-align: center;
				color: #62775a;
				font-size: 20px;
				line-height: 20px;
				margin: 11px 0 0 0;
			}
			
				#content .button-holder-connect p span {
					color: #7ab906;
				}
		
			.button-holder-connect h2 {
				width: 191px;
				height: 62px;
				text-indent: -1000em;
				margin: 0 auto;
			}
		
			.button-holder-connect h2 a:link,
			.button-holder-connect h2 a:visited {
				display: block;
				background: url('../graphics/bt-connect.png') no-repeat top left;
				width: 191px;
				height: 62px;
				overflow: hidden;
			}
			
			.button-holder-connect p a:link,
			.button-holder-connect p a:visited {
				width: auto;
				font-size: 10px;
				font-family: verdana, arial, sans-serif;
				float: none;
				line-height: 12px;
				margin: 0;
				color:inherit;
			}
	
		#content .stats-holder {
			background: #92908c;
			padding: 10px;
			width: 237px;
			margin: 13px auto 0 auto;
			border-radius: 3px;
			
		}

			#content .stats-holder ul {
				background: #f5f5f5;
			}
		
				#content .stats-holder ul li {
					padding: 6px 0 6px 35px;
					border-bottom: 1px solid #ccc;
					margin: 0 6px;
					font-size: 12px;
					font-family: "PredicateRounded", "Trebuchet MS", arial, sans-serif;
					background: url('../graphics/sp-stats.png') no-repeat left 2px;
				}
				
				#content .stats-holder ul li.people {
					background-position: left -32px;
				}
				
				#content .stats-holder ul li.resources-shared {
					background-position: left -67px;
				}
				
				#content .stats-holder ul li.resources-commoned {
					background-position: left -102px;
				}
				
				#content .stats-holder ul li.gift {
					background-position: left -135px;
					border-bottom: none;
				}
				
			
					#content .stats-holder ul li a:link,
					#content .stats-holder ul li a:visited {
						color: #534741;
						display: block;
					}
				
					#content .stats-holder ul li a:hover {

					}
	

/* Footer */

#footer-holder {
	clear: both;
	text-align: left;
	background: #fff url('../graphics/bg-footer.png') repeat-x left top;
	height: 264px;
	position: relative;
}

	#footer {
		width: 980px;
		margin: 0 auto;
		height: 264px;
	}

		#footer ul {
			float: left;
			width: 200px;
			margin: 11px 40px 0 0;
			padding-top: 36px;
		}

			#footer ul li {
				font-size: 14px;
				border-bottom: 1px dashed #d0cecf;
				line-height: 22px;
				padding: 5px 0 11px 0;
				text-shadow: 1px 1px #555;
				font-family: "PredicateRounded";
			}

			#footer ul li.headline {
				padding-bottom: 6px;
			}

				#footer ul li h3 {
					font-size: 18px;
					font-weight: bold;
					font-family: "PredicateRounded-Bold", "Trebuchet MS", arial, sans-serif;
				}

				#footer ul li a:link,
				#footer ul li a:visited {
					color: #fff;
				}

				#footer ul li a:hover {

				}

		#footer .bg-holder {
			width: 248px;
			margin-right: 0;
			float: left;
		}

		#footer p {

		}

		#footer ul li.social-links-holder {
			margin: 0;
			padding: 5px 0 5px 0;
		}

			#footer ul.social-links {
				float: none;
				padding: 0;
				margin: 0;
			}

				#footer ul.social-links li {
					text-indent: -1000em;
					display: block;
					float: left;
					border-bottom: none;
					padding: 0;
					width: 28px;
					height: 28px;
				
				}

					#footer ul.social-links li a:link,
					#footer ul.social-links li a:visited {
						display: block;
						background: url('../graphics/sp-social.png') no-repeat bottom right;
						width: 28px;
						height: 28px;
						overflow: hidden;
					}

					#footer ul.social-links li a:hover {

					}

				#footer ul.social-links li.facebook {
					margin-right: 12px;
				}

					#footer ul.social-links li.facebook a:link,
					#footer ul.social-links li.facebook a:visited {
						background-position: bottom left;
					}

					#footer ul.social-links li.facebook a:hover {

					}

			
/* invitation page */


#container.invitation-page {
	
}

	/* content */

	#container.invitation-page #content {
		width: 413px;
		float: left;
		margin: 185px 0 0 0;
		padding: 0 0 0 70px;
	}
	
		#container.invitation-page h2 {
			color: #127e0e;
			font-size: 60px;
			font-family: "Trebuchet MS", "Century Gothic", arial, sans-serif ;
			line-height: 52px;
		}

		#container.invitation-page #content p {
			font-size: 15px;
			line-height: 18px;
			color: #127e0e;
			margin-bottom: 30px;
			font-family: "Trebuchet MS", "Century Gothic", arial, sans-serif ;
		}
		
		#container.invitation-page .form-holder {
			width: 258px;
		}
		
		#container.invitation-page #content .form-holder label {
			color: #62775a;
			font-size: 15px;
			line-height: 18px;
			margin-bottom: 3px;
			font-family: "Trebuchet MS", arial, sans-serif ;
		}
		
			#container.invitation-page #content .form-holder p a:link,
			#container.invitation-page #content .form-holder p a:visited {
				color: #62775a;
				text-decoration: underline;
			}
		
			#container.invitation-page .form-holder input[type="text"]{
				width: 256px;
				border: 1px solid #5d6558;
				margin-bottom: 12px;
				outline: none;
			}
			
		#container.invitation-page #content .form-holder div p {
			clear: both;
			text-align: right;
			font-size: 14px;
			letter-spacing: -1px;
			width: 258px;
			color: #62775a;
		}
		
		#container.invitation-page .button-holder-request {
			float: left;
			width: 158px;
		}

			#container.invitation-page .button-holder-request h2 {
				width: 158px;
				height: 30px;
				text-indent: -1000em;
			}

			#container.invitation-page  .button-holder-request input {
				display: block;
				background: url('../graphics/bt-request.png') no-repeat top left;
				width: 158px;
				height: 30px;
				overflow: hidden;
				border: none;
				text-indent: -1000em;
				cursor: pointer;
			}

		#container.invitation-page .button-holder-submit {
			float: right;
			margin-left: 10px;
		}
		
			#container.invitation-page .button-holder-submit h2 {
				text-indent: -1000em;
				width: 90px;
				height: 30px;
			}
		
				#container.invitation-page .button-holder-submit input[type="submit"] {
					text-indent: -1000em;
					border: none;
					display: block;
					background: url('../graphics/bt-submit.png') no-repeat top left;
					width: 90px;
					height: 30px;
					overflow: hidden;
					cursor: pointer;
				}
			
			
		/* message */
		
		#container.invitation-page .message-holder {
			color: #62775A;
		    font-family: "Trebuchet MS",arial,sans-serif;
		    font-size: 15px;
		    line-height: 18px;
		    margin-bottom: 13px;
		
		}

#terms-conditions-page #content p {
    color: #9C9C9C;

}

#terms-conditions-page.second-page #content h3.bottom-title {
    font-size: 14px;

}

#terms-conditions-page.second-page #content h3 {
    font-size: 14px;

}

