<h3>Invitation system is <%= Settings.invitations.to_s == 'false' ? '<span style="color:#80BFFF">OFF</span>'.html_safe : '<span style="color:#00D945">ON</span>'.html_safe%> | Switch <%= link_to 'ON/OFF', invitations_switch_path %></h3>
