<div id="terms-conditions-page">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net - from ego to wego", :title => "sharedearth.net - from ego to wego"  %>
		<h2>
			sharedearth.net is designed for a world where we each take complete responsibility for
			<br />
			ourselves
			<br />
			each other
			<br />
			our community
			<br />
			our planet
		</h2>
		
		<h3>
			Unfortunately until that culture is established, you are required to read and
			<br />
			accept the following <span>Terms and Conditions</span> and <span>Privacy Policy</span>.
		</h3>
		
		
		<h4>TERMS AND CONDITIONS</h4>

		<h5 class="bottom-separated">PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE.</h5>

		<p>
			Welcome to our website. If you choose to continue to use our website then we will regard that use as conclusive evidence of your agreement and acceptance that these terms, and our Privacy Policy, governing sharedearth.net’s relationship with you in relation to your use of this website.
		</p>
		
		<p>
			Sharedearth.net is a not-for-profit arm of Clear Realities Pty Ltd ACN 141 523 257. Wherever the name ‘sharedearth.net’ is used in these Terms and Conditions and the Privacy Policy it shall be taken to mean ‘Clear Realities Pty Ltd ACN 141 523 257 trading as sharedearth.net’. 
		</p>
		
		<p>
			We however confirm that the aim of the sharedearth.net project is not primarily to make financial gains for sharedearth.net. Rather it is to facilitate cooperation between members and users to share resources in the form of goods and services in the manner explained elsewhere on the site.
		</p>
		
		<p>
		For the purposes of these Terms and Conditions, “us”, “our” and “we” refers to sharedearth.net and “you” and “your” refers to you, the member, website user or person using our website. 
		</p>

		<h5>Your Use of the Website</h5>
		
		<p>
			You agree that you will use this website in accordance with the aims of the sharedearth.net project and these Terms and Conditions and in a manner that does not restrict others from enjoying the website. 
		</p>
		
		<p>
			You agree that you will not use this website for any unlawful purpose. You are also prohibited from posting or transmitting any unlawful, threatening, defamatory, obscene or pornographic material or material that could constitute or encourage conduct that could be considered a criminal offence, give rise to civil liability, or otherwise violate any law.
		</p>
		
		<p>
			You will not violate or attempt to violate the security of the website. You will not hack into the website, our computer systems or the computer systems of the other users of the website. For these purposes ‘hacking’ includes any method that is designed to or has the effect of damaging this website or a computer system. 
		</p>

		<h5>Your Contributions to the Website</h5>
		
		<p>
			You may submit content to the website for inclusion. Sharedearth.net may, at its sole discretion, decide whether or not your content will be included and reserves the right to edit or amend any content submitted by you.
		</p>
		
		<p>
			You agree and warrant that you will only provide content to sharedearth.net if you own all the intellectual property rights in that content. Except for your personal information (which is dealt with under the Privacy Policy), you immediately assign to sharedearth.net, upon creation, all intellectual property rights in all content provided by you to us, including your website postings. However sharedearth.net grants all the other users of the website to right to copy, publish, distribut e and/or otherwise lawfully use any of the content you post on the site.
		</p>



		<h4>PRIVACY POLICY</h4>

		<h5>Privacy Statement</h5>
		<p>
			At sharedearth.net. we are committed to maintaining policies and procedures which protect the privacy of personal information gathered from our members and others who visit our website.
		</p>

		<p>
			We have prepared this Privacy Policy to explain how we collect, use and protect the personal information when you use this site. By using this site you signify your consent to this Privacy Policy. Please read it in full before using the site.
		</p>

		<h5>What We Collect - Personal Information</h5>
		
		<p>
			We collect information that personally identifies you (‘Personal Information’) only if you choose to share it with us. This includes..."
		</p>
		
		<h5 class="centered">
			Continued use of the site will be taken as conclusive evidence of your acceptance of the Terms and Conditions and Privacy Policy.
		</h5>
		<% if !current_user.nil? -%>
		  <% if !current_user.person.accepted_tc? -%>
		    <div class="buttons-holder">
			    <ul class="action-buttons-list clearfix">
				    <li>
					    <%= link_to 'Accept', accept_tc_terms_path, :method => 'put', :class => 'positive' %>
				    </li>
				    <li>
			      	<%= link_to 'Reject', signout_path, :class => 'positive' %>
				    </li>
			    </ul>
		    </div>
		  <% end -%>
		<% end -%>
		
		
	</div><!--	/content -->
	
</div><!--	/terms-conditions-page -->
