<div id="terms-conditions-page">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net - from ego to wego", :title => "sharedearth.net - from ego to wego"  %>
		<h2>
			sharedearth.net is designed for a world where we each take complete responsibility for
			<br />
			ourselves
			<br />
			each other
			<br />
			our community
			<br />
			our planet
		</h2>
		
		<h3>
			Unfortunately until that culture is established, you are required to read and
			<br />
			accept the following <span>Terms and Conditions</span> and <span>Privacy Policy</span>.
		</h3>
		
		
		<h4>TERMS AND CONDITIONS</h4>

		<h5 class="bottom-separated">PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE.</h5>

		<p>
			Welcome. If you choose to continue to use our website then we will regard that use as conclusive evidence of your agreement and acceptance our these terms, and our Privacy Policy, governing sharedearth.net’s relationship with you in relation to your use of this website.
		</p>
		
		<p>
			sharedearth.net is a not-for-profit arm of Clear Realities Pty Ltd ACN 141 523 257. Wherever the name ‘sharedearth.net’ is used in these Terms and Conditions and the Privacy Policy, it shall be taken to mean ‘Clear Realities Pty Ltd ACN 141 523 257 trading as sharedearth.net’. 
		</p>
		
		<p>
			We however confirm that the aim of the sharedearth.net project is not primarily to make financial gains for sharedearth.net. Rather it is to facilitate cooperation between members, and aid them in sharing resources such as goods and services, in the manner explained elsewhere on the site.
		</p>
		
		<p>
			For the purposes of these Terms and Conditions, “us”, “our” and “we” refers to sharedearth.net and “you” and “your” refers to you, the member, website user or person using our website.
		</p>

		<h5>Your Use of the Website</h5>
		
		<p>
			You agree that you will use this website in accordance with the aims of the sharedearth.net project and these Terms and Conditions and in a manner that does not restrict others from enjoying the website.
		</p>
		
		<p>
			You agree that you will not use this website for any unlawful purpose. You are also prohibited from posting or transmitting any unlawful, threatening, defamatory, obscene or pornographic material or material that could constitute or encourage conduct that could be considered a criminal offence, give rise to civil liability, or otherwise violate any law.
		</p>
		
		<p>
			You will not violate or attempt to violate the security of the website. You will not hack into the website, our computer systems or the computer systems of the other users of the website. For these purposes ‘hacking’ includes any method that is designed to or has the effect of damaging this website or a computer system. 
		</p>

		<h5>Your Contributions to the Website</h5>
		
		<p>
			You may submit content to the website for inclusion. sharedearth.net may, at its sole discretion, decide whether or not your content will be included and reserves the right to edit or amend any content submitted by you.
		</p>
		
		<p>
			You agree and warrant that you will only provide content to sharedearth.net if you own all the intellectual property rights in that content. Except for your personal information (which is dealt with under the Privacy Policy), by contributing content to sharedearth.net you are granting sharedearth.net and all other users of sharedearth.net a non-exclusive, royalty-free, perpetual, irrevocable, worldwide license (with the right to sublicense) to use that content without limitation or attribution, including the license rights to use, copy, reproduce, process, adapt, modify, distribute, transmit, publicly display, publicly perform, edit, translate and reformat your content, and/or to incorporate it into a collective work.
		</p>
		
		
		<h5>Disclaimer</h5>
		
		<p>
			This website and the content on it are provided “as is”. To the maximum extent permitted by law, sharedearth.net absolutely disclaims all warranties, expressed or implied, including, but not limited to, implied warranties of merchantability and fitness for any particular purpose. sharedearth.net gives no warranty that the goods and/or services you receive will be free of defects, or that any defects will be corrected, or that our website or its server is free of viruses or any other harmful components.
		</p>
		
		<p>
			It shall be your own responsibility to ensure that any goods, services or information you receive from other members or users of this website meet your specific requirements. You acknowledge that such goods, services or information may contain defects, inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. 
		</p>
		
		<p>
			Whilst we at all times endeavour to have the most accurate, reliable and up-to-date information on our website, we do not warrant or make any representations regarding the use or the result of the use of any document, link or information in the website or as to their correctness, suitability, accuracy, reliability, or otherwise.
		</p>
		
		
		
		<h5>Limitation of Liability</h5>
		
		<p>
			Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable.
		</p>
		
		<p>
			You agree and accept that sharedearth.net is not legally responsible for any loss or damage you might suffer related to your use of the website, whether from use or reliance on any information on the website, accessing or using the website or the interruption, suspension or termination of the website for whatever reason. 
		</p>
		
		<p>
			Such excluded loss or damage to you includes but is not limited to property damage to shared or other items, personal injury, stress or other psychological injury, direct, indirect, incidental, special, consequential or exemplary damages, loss of profits or revenue, business interruption, loss of data or failure to realise anticipated savings or benefits. 
		</p>
		
		
		<h5>Indemnification</h5>
		
		<p>
			You agree to indemnify sharedearth.net from and against any and all claims, suits, liabilities, expenses, legal costs, and / or damages arising out of claims based on your use of the website including, without limitation, any claim of defamation, violation of legal rights of others, loss of service by other members or users and / or infringements of intellectual property or other rights.  
		</p>
		
		
		<h5>Age and responsibility</h5>
		
		<p>
			You must be over 18 years of age to use this website and to lend, borrow or otherwise deal with any goods or services. You understand that you are responsible for all your uses of the website.
		</p>
		
		
		<h5>Links to Other Websites</h5>
		
		<p>
			sharedearth.net may from time to time provide on its website, links to other websites and information on those websites for your convenience. This does not necessarily imply sponsorship, endorsement, or approval or arrangement between sharedearth.net and the owners of those websites. sharedearth.net takes no responsibility for any of the content found on the linked websites.
		</p>
		
		<p>
			sharedearth.net’s website may contain information or advice provided to you by third parties for which sharedearth.net accepts no responsibility. We are not providing any advice nor do we take any responsibility for any advice received in this regard.
		</p>
		
		
		<h5>Your Privacy</h5>
		
		<p>
			At sharedearth.net, we are committed to protecting your privacy. We use the information we collect about you to maximize the services that we provide to you. sharedearth.net respects the privacy and confidentiality of the information provided by you and adheres to the national privacy principles and other privacy requirements under current legislation. Please read our separate Privacy Policy carefully. 
		</p>
		
		
		<h5>Third Parties</h5>
		
		<p>
			sharedearth.net does not and will not sell the personal information of members or users to third parties. 
		</p>
		
		<h5>Disclose Your Information </h5>
		
		<p>
			sharedearth.net may be required, in certain circumstances, to disclose information in good faith and where we are required to do so in the following circumstances: by law or by any court; to enforce the terms of any of our customer agreements; or to protect the rights, property or safety of sharedearth.net, its members or users or third parties.
		</p>
		
		<h5>Intellectual Property and Restriction of Use</h5>
		
		<p>
			This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, and graphics. To the extent possible under law, sharedearth.net has waived all copyright and related or neighboring rights to the content owned solely by sharedearth.net. Content provided by users of website is addressed under the provision <em>Your Contributions to the Website</em>.
		</p>
		
		<h5>Whole Agreement</h5>
		
		<p>
			These Terms and Conditions represent the whole agreement between you and sharedearth.net concerning your use and access to the website and your use and access to the information on it. No other term is to be included in this agreement except where it is required to be included by any legislation of the Commonwealth or any State or Territory. All implied terms except those implied by statute and which cannot be expressly excluded are hereby expressly excluded.
		</p>
		
		<h5>No Waiver</h5>
		
		<p>
			Any failure by you or us to insist upon or enforce strict performance by the other party of any provision of these Terms and Conditions shall not be construed as a waiver of any provision or right. Neither the course of conduct between you and us nor the trade practice shall modify any provision of these Terms and Conditions. 
		</p>
		
		<h5>Exclusion of Terms </h5>
		
		<p>
			Where any clause or term above would by any applicable statute be illegal, void, or unenforceable in any State or Territory then such a clause shall not apply in that State or Territory and shall be deemed never to have been included in these Terms and Conditions in that State or Territory. 
		</p>
		
		<p>
			Such a clause if legal and enforceable in any other State or Territory shall continue to be fully enforceable and part of this agreement in those other States and Territories. The deemed exclusion of any term pursuant to this paragraph shall not affect or modify the full enforceability and construction of the other clauses of these terms and conditions.
		</p>
		
		<h5>Jurisdiction </h5>
		
		<p>
			This agreement and this website are subject to the laws of New South Wales and Australia. If there is a dispute between you and sharedearth.net that results in litigation then you must submit to the jurisdiction of the courts of New South Wales.
		</p>
		
		<h5>Amendment of Terms</h5>
		
		<p>
			We reserve the right to change, modify, add or remove portions of these terms at any time. Please check these terms regularly prior to using our website to ensure you are aware of any changes. We will endeavour to highlight any significant or substantive changes to you where possible.      
		</p>
	

		<h4>TRANSPARENCY POLICY </h4>


		<h5>Transparency, Privacy and sharedearth.net</h5>
		
		<h5>Overview</h5>
		
		<p>
			sharedearth.net is a commons-based platform for coordinating resources and skills as a community. Important values within commons culture are sharing, transparency and openness.
		</p>
		
		<p>
			To encourage the development of commons culture, sharedearth.net prioritises transparency over privacy. 
		</p>
		
		<p>
			By design sharedearth.net has very limited privacy functionality built into the platform.
		</p>
		
		<p>
			We have prepared this Policy to explain the use, protection and  availability of information that personally identifies you on the site.
		</p>
		
		<h5>By using this site you signify your consent to this Policy.</h5>
		
		<h5>Please read it in full before using the site.</h5>
		
		
		
		<p>
			<em>For information about the radical transparency of the administration and operation of sharedearth.net, please go <a href="http://sharedearth.net/transparency.html" title="sharedearth.net - trust. share. connect.">here</a>.</em>
		</p>
		
		<h5>Privacy Statement</h5>
		
		<p>
			As sharedearth.net is not seeking to profit from your personal information, there is no need for the operator of sharedearth.net to collect, store or sell information that personally identifies you.
		</p>
		
		<p>
			Currently the only personal information that is <strong>required</strong> is:
		</p>
		<ul>
			<li>Your email address (currently automatically extracted via Facebook Connect)</li>
		</ul>
		
		<p><strong>At sharedearth.net we are committed to maintaining the privacy of the Personal Information required to use the site.</strong></p>
		
		<h5>Transparency Statement</h5>
		
		<p>
			No other Personal Information is required to use sharedearth.net.
		</p>
		
		<p>
			However the provision of additional Personal Information may help build your online trust and reputation profile, increasing the likelihood that others will willingly share and gift their resources and skills with you.
		</p>
		
		<p>
			Areas of the site that display or use information that you choose to provide are, your screen name, your location, the people in your trusted network, the actions and interactions you participate in and so on. 
		</p>
		
		<p>
			Although there is no requirement to use information that personally identifies you, community perceptions of you and therefore interactions on the site, may be shaped by their perceived authenticity.
		</p>
		
	
		<p>
			<strong>At sharedearth.net any information that you choose to provide, or results from interactions on the site, will be accessible to other users as a mechanism for building trust, and transparency.</strong>
		</p>
		
		
		<h5>Transparency and Common Sense</h5>
		
		<p>
			The transparency and availability of information on sharedearth.net may lead to malicious behaviour.
		</p>
		
		<p>
			Any users of the site can access the information you choose to provide. This means that any person or entity with access to such information can potentially use it for any purpose.
		</p>
		
		<p>
			You may be concerned that if you post details about the items you have to share or give, then others may come to your house to steal or damage the items. The main way to avoid this risk is by not posting your physical address on the site (perhaps provide a phone number instead), and by using common sense when choosing to engage in interactions with other users.
		</p>
		
		<p>
			<strong>As one of the intentions of this site is to build commons culture with the values of sharing and transparency, if you are concerned about your privacy you may decide not to use this site.</strong>
		</p>
		
		<h5>What We Collect - Personal Information</h5>
		
		<p>
			Due to the use of Facebook Connect, certain personal details are collected when you initially connect. The only information that is stored from Facebook is your email address. 
		</p>
		
		<p>
			In addition, during the connection process, your Facebook name is extracted to provide a default display name, and your list of Facebook friends is collected to allow sharedearth.net to advise whether your friends have connected to the network. 
		</p>
		
		<p>
			By default, you can change the name that you use on sharedearth.net, and friend information is only stored for those friends who have also connected to the site.
		</p>
		
		<p>
			As previously mentioned, the provision of any other personal information is not required, and if provided, accessible to the other users on the site.
		</p>
		
		<p>
			All correspondence from you may also be collected and stored. This may be via email, mail, telephone or directly through the website. 
		</p>
		
		<h5>What We Collect – Non-Personal Information</h5>
		
		<p>
			We automatically collect information that does not reflect or reference an individually identifiable user (‘Non-Personal Information’) to help us understand how our users use the site. Like most websites, we automatically collect and use the data contained in log files. The information in the log files may include your IP (internet protocol) address, your ISP (internet service provider), the web browser you used, time you visited the site, which pages you visited and other anonymous site usage data. 
		</p>
		
		<h5>What we do with the Information</h5>
		
		<p>
			We use Personal Information and Non-Personal Information for internal purposes. These purposes include keeping you informed about updates to the site, administering the site and making decisions about improving the site for its users. 
		</p>
		
		<h5>Disclosure of the Information</h5>
		
		<p>
			We will not sell, share or rent the Personal Information you are required to provide with third parties.
		</p>
		
		<p>
			As previously mentioned, Personal Information that you choose to provide through interactions with the site will be available to other users on the site.
		</p>
		
		<p>
			From time to time we may establish relationships with trustworthy service providers who assist us in providing the services we are providing to you through this site. To the extent that we share Personal Information with a service provider so they may provide these services, we would only do so if their privacy practices are consistent with ours.
		</p>
		
		
		
		<h5>Security of Collected Information</h5>
		
		<p>
			The information that we collect is stored on servers that are managed using standard security procedures and practices appropriate to the nature of the information. These security measures are designed to protect the information from unauthorised access, destruction, use, modification or disclosure.
		</p>
		
		<p>
			However no transmission over the Internet can be designed to be 100 per cent secure. As a result, we cannot and do not guarantee or warrant the security of any information you transmit on or through the site, and you do so at your own risk. 
		</p>
		
		<h5>Cookies </h5>
		
		<p>
			A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree the file is added and the cookie helps analyse web traffic or allow web applications to respond to you as an individual. The web application can tailor its operations to your needs, likes and dislikes by gathering information about your preferences.
			
		</p>
		
		<p>
			Cookies allow us to provide you with a better website by enabling us to monitor which pages you find useful and which you do not. Cookies in no way give us access to your computer or any additional information about you. 
		</p>
		
		<p>
			You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually accept or decline cookies if you prefer. This may prevent you from taking full advantage of the website.
		</p>
		
		<h5>Links </h5>
		
		<p>
			This site contains links to other websites. These links are meant for you convenience only. Links to third party websites do not constitute sponsorship, endorsement or approval of these websites. 
		</p>
		
		<p>
			Please be aware that sharedearth.net is not responsible for the privacy practices of such other websites. We encourage our users, when they leave our website, to read the privacy statements of each and every website visited. This Transparency and Privacy Policy applies solely to information collected by this site. 
		</p>
		
		<h5>Transparency and Privacy Policy Changes</h5>
		
		<p>
			We may modify this policy at any time, in our sole discretion, and all modifications will be effective immediately upon posting on this website. Please return periodically to review this Policy.
		</p>
		
		<h5>Feedback and Suggestions</h5>
		
		<p>
			We are aware that this Transparency and Privacy Policy is unusual compared to the standard cultural templates for the current generation of social networking sites.
		</p>

		<p>
			sharedearth.net is an ongoing experiment in the creation of a culture built around our interconnection, the commons, transparency, sharing and love.
		</p>

		<p>
			We welcome your feedback, concerns and offers of assistance in bringing this culture to life. Please contact us at <a href="mailto:transparency@sharedearth.net">transparency@sharedearth.net</a> with your thoughts.
		</p>
		
	
		
		<h5 class="centered">
			Continued use of the site will be taken as conclusive evidence of your acceptance of the Terms and Conditions and Privacy Policy.
		</h5>
		<% if !current_user.nil? -%>
		  <% if !current_user.person.accepted_tc? -%>
		    <div class="buttons-holder">
			    <ul class="action-buttons-list clearfix">
				    <li>
					    <%= link_to 'Accept', accept_tc_terms_path, :method => 'put', :class => 'positive' %>
				    </li>
				    <li>
			      	<%= link_to 'Reject', signout_path, :class => 'positive' %>
				    </li>
			    </ul>
		    </div>
		  <% end -%>
		<% end -%>
		
		
	</div><!--	/content -->
	
</div><!--	/terms-conditions-page -->
