<% content_for(:hide_on_policy_class, 'hide-on-policy-page') unless current_person.accepted_tc? %>

<div id="terms-conditions-page">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net - from ego to wego", :title => "sharedearth.net - from ego to wego"  %>
		<h2>
			sharedearth.net is designed for a world where we each take complete responsibility for
			<br />
			ourselves
			<br />
			each other
			<br />
			our community
			<br />
			our planet
		</h2>
		
		<h3>
			Unfortunately until that culture is established, you are required to read and
			<br />
			accept the following Terms and Conditions.
		</h3>
		
		
		<h4>TERMS AND CONDITIONS</h4>

		<h5 class="bottom-separated">PLEASE READ THESE TERMS AND CONDITIONS OF USE CAREFULLY BEFORE USING THIS WEBSITE.</h5>

		<p>
			Welcome. If you choose to continue to use our website then we will regard that use as conclusive evidence of your agreement and acceptance our these terms, and our Transparency Policy, governing sharedearth.net’s relationship with you in relation to your use of this website.
		</p>
		
		<p>
			sharedearth.net is a not-for-profit arm of Clear Realities Pty Ltd ACN 141 523 257. Wherever the name ‘sharedearth.net’ is used in these Terms and Conditions and the Transparency Policy, it shall be taken to mean ‘Clear Realities Pty Ltd ACN 141 523 257 trading as sharedearth.net’.
		</p>
		
		<p>
			We however confirm that the aim of the sharedearth.net project is not primarily to make financial gains for sharedearth.net. Rather it is to facilitate cooperation between members, and aid them in sharing resources such as goods and services, in the manner explained elsewhere on the site.
		</p>
		
		<p>
			For the purposes of these Terms and Conditions, “us”, “our” and “we” refers to sharedearth.net and “you” and “your” refers to you, the member, website user or person using our website.
		</p>

		<h5>Your Use of the Website</h5>
		
		<p>
			You agree that you will use this website in accordance with the aims of the sharedearth.net project and these Terms and Conditions and in a manner that does not restrict others from enjoying the website.
		</p>
		
		<p>
			You agree that you will not use this website for any unlawful purpose. You are also prohibited from posting or transmitting any unlawful, threatening, defamatory, obscene or pornographic material or material that could constitute or encourage conduct that could be considered a criminal offence, give rise to civil liability, or otherwise violate any law.
		</p>
		
		<p>
			You will not violate or attempt to violate the security of the website. You will not hack into the website, our computer systems or the computer systems of the other users of the website. For these purposes ‘hacking’ includes any method that is designed to or has the effect of damaging this website or a computer system. 
		</p>

		<h5>Your Contributions to the Website</h5>
		
		<p>
			You may submit content to the website for inclusion. sharedearth.net may, at its sole discretion, decide whether or not your content will be included and reserves the right to edit or amend any content submitted by you.
		</p>
		
		<p>
			You agree and warrant that you will only provide content to sharedearth.net if you own all the intellectual property rights in that content. Except for your personal information (which is dealt with under the Transparency Policy), by contributing content to sharedearth.net you are granting sharedearth.net and all other users of sharedearth.net a non-exclusive, royalty-free, perpetual, irrevocable, worldwide license (with the right to sublicense) to use that content without limitation or attribution, including the license rights to use, copy, reproduce, process, adapt, modify, distribute, transmit, publicly display, publicly perform, edit, translate and reformat your content, and/or to incorporate it into a collective work.
		</p>
		
		
		<h5>Disclaimer</h5>
		
		<p>
			This website and the content on it are provided “as is”. To the maximum extent permitted by law, sharedearth.net absolutely disclaims all warranties, expressed or implied, including, but not limited to, implied warranties of merchantability and fitness for any particular purpose. sharedearth.net gives no warranty that the goods and/or services you receive will be free of defects, or that any defects will be corrected, or that our website or its server is free of viruses or any other harmful components.
		</p>
		
		<p>
			It shall be your own responsibility to ensure that any goods, services or information you receive from other members or users of this website meet your specific requirements. You acknowledge that such goods, services or information may contain defects, inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law. 
		</p>
		
		<p>
			Whilst we at all times endeavour to have the most accurate, reliable and up-to-date information on our website, we do not warrant or make any representations regarding the use or the result of the use of any document, link or information in the website or as to their correctness, suitability, accuracy, reliability, or otherwise.
		</p>
		
		
		
		<h5>Limitation of Liability</h5>
		
		<p>
			Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable.
		</p>
		
		<p>
			You agree and accept that sharedearth.net is not legally responsible for any loss or damage you might suffer related to your use of the website, whether from use or reliance on any information on the website, accessing or using the website or the interruption, suspension or termination of the website for whatever reason. 
		</p>
		
		<p>
			Such excluded loss or damage to you includes but is not limited to property damage to shared or other items, personal injury, stress or other psychological injury, direct, indirect, incidental, special, consequential or exemplary damages, loss of profits or revenue, business interruption, loss of data or failure to realise anticipated savings or benefits. 
		</p>
		
		
		<h5>Indemnification</h5>
		
		<p>
			You agree to indemnify sharedearth.net from and against any and all claims, suits, liabilities, expenses, legal costs, and / or damages arising out of claims based on your use of the website including, without limitation, any claim of defamation, violation of legal rights of others, loss of service by other members or users and / or infringements of intellectual property or other rights.  
		</p>
		
		
		<h5>Age and responsibility</h5>
		
		<p>
			You must be over 18 years of age to use this website and to lend, borrow or otherwise deal with any goods or services. You understand that you are responsible for all your uses of the website.
		</p>
		
		
		<h5>Links to Other Websites</h5>
		
		<p>
			sharedearth.net may from time to time provide on its website, links to other websites and information on those websites for your convenience. This does not necessarily imply sponsorship, endorsement, or approval or arrangement between sharedearth.net and the owners of those websites. sharedearth.net takes no responsibility for any of the content found on the linked websites.
		</p>
		
		<p>
			sharedearth.net’s website may contain information or advice provided to you by third parties for which sharedearth.net accepts no responsibility. We are not providing any advice nor do we take any responsibility for any advice received in this regard.
		</p>
		
		
		<h5>Your Privacy</h5>
		
		<p>
			At sharedearth.net, we are committed to protecting your privacy. We use the information we collect about you to maximize the services that we provide to you. sharedearth.net respects the privacy and confidentiality of the information provided by you and adheres to the national privacy principles and other privacy requirements under current legislation. Please read our separate Transparency Policy carefully.
		</p>
		
		
		<h5>Third Parties</h5>
		
		<p>
			sharedearth.net does not and will not sell the personal information of members or users to third parties. 
		</p>
		
		<h5>Disclose Your Information </h5>
		
		<p>
			sharedearth.net may be required, in certain circumstances, to disclose information in good faith and where we are required to do so in the following circumstances: by law or by any court; to enforce the terms of any of our customer agreements; or to protect the rights, property or safety of sharedearth.net, its members or users or third parties.
		</p>
		
		<h5>Intellectual Property and Restriction of Use</h5>
		
		<p>
			This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance, and graphics. To the extent possible under law, sharedearth.net has waived all copyright and related or neighboring rights to the content owned solely by sharedearth.net. Content provided by users of website is addressed under the provision <em>Your Contributions to the Website</em>.
		</p>
		
		<h5>Whole Agreement</h5>
		
		<p>
			These Terms and Conditions represent the whole agreement between you and sharedearth.net concerning your use and access to the website and your use and access to the information on it. No other term is to be included in this agreement except where it is required to be included by any legislation of the Commonwealth or any State or Territory. All implied terms except those implied by statute and which cannot be expressly excluded are hereby expressly excluded.
		</p>
		
		<h5>No Waiver</h5>
		
		<p>
			Any failure by you or us to insist upon or enforce strict performance by the other party of any provision of these Terms and Conditions shall not be construed as a waiver of any provision or right. Neither the course of conduct between you and us nor the trade practice shall modify any provision of these Terms and Conditions. 
		</p>
		
		<h5>Exclusion of Terms </h5>
		
		<p>
			Where any clause or term above would by any applicable statute be illegal, void, or unenforceable in any State or Territory then such a clause shall not apply in that State or Territory and shall be deemed never to have been included in these Terms and Conditions in that State or Territory. 
		</p>
		
		<p>
			Such a clause if legal and enforceable in any other State or Territory shall continue to be fully enforceable and part of this agreement in those other States and Territories. The deemed exclusion of any term pursuant to this paragraph shall not affect or modify the full enforceability and construction of the other clauses of these terms and conditions.
		</p>
		
		<h5>Jurisdiction </h5>
		
		<p>
			This agreement and this website are subject to the laws of New South Wales and Australia. If there is a dispute between you and sharedearth.net that results in litigation then you must submit to the jurisdiction of the courts of New South Wales.
		</p>
		
		<h5>Amendment of Terms</h5>
		
		<p>
			We reserve the right to change, modify, add or remove portions of these terms at any time. Please check these terms regularly prior to using our website to ensure you are aware of any changes. We will endeavour to highlight any significant or substantive changes to you where possible.      
		</p>
		
		<h3 class="bottom-title">
			Continued use of the site will be taken as conclusive evidence of your acceptance of the Terms and Conditions.
		</h3>
		<% if !current_user.nil? -%>
		  <% if !current_user.person.accepted_tc? -%>
		    <div class="buttons-holder">
			    <ul class="action-buttons-list clearfix">
				    <li>
					    <%= link_to 'Accept', accept_tc_terms_path, :method => 'put', :class => 'positive' %>
				    </li>
				    <li>
			      	<%= link_to 'Reject', signout_path, :class => 'positive' %>
				    </li>
			    </ul>
		    </div>
		  <% end -%>
		<% end -%>
		
		
	</div><!--	/content -->
	
</div><!--	/terms-conditions-page -->
