<% unless current_user.nil? || current_user.person.accepted_pp?
  content_for(:hide_on_policy_class, 'hide-on-policy-page')
  content_for(:hide_on_policy_top_margin, 'style=margin-top:100px;')
end %>

<div id="site-information-pages" class="principles">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net - from ego to wego", :title => "sharedearth.net - from ego to wego"  %>
		<h2>
			Important Information
		</h2>
		
		<h3>
			sharedearth.net operates differently to most social networks, due to its foundation on the principle of sharing.
		</h3>
		
		<h3>
			If you are uncomfortable with the underlying design principles please do not continue.
		</h3>

        <h3>
            You are welcome to use the code to run your own server operating with different principles. See <a class="green" href="http://sharedearthplatform.org">sharedearthplatform.org</a> for more details.
        </h3>
		
		
		<h4>
          <br>
          DESIGN PRINCIPLES</h4>

		<h5>
            <br>
			sharedearth.net is designed for people and communities, not for companies, corporations or special interest groups.
		</h5>

		<h5>
            <br>
            sharedearth.net operates on the principle of gift culture.
        </h5>

        <p>
			<em>
				Share and give only when you're comfortable, and respect others - e.g. refuel after borrowing a neighbours lawn mower, and repair items you break.
			</em>
		</p>

		<p class="top-separated">
			Advertising, marketing, profiteering, and the provision of goods and services in exchange for, or expectation of money is not welcome and may lead to account deactivation or blocking.
		</p>

		<h5>
            <br>
            Everyone's profile is shared and visible to every user of the site.</h5>
		
		<p>
			<em>
				You are not required to provide or publish any identifying information. You are not required to provide your date of birth, income level, gender, address, job title or phone number. Your email address is not public, nor used for any purpose except site notifications and updates.
			</em>
		</p>

		<h5>
            <br>
            Every completed transaction and related feedback is shared and visible to every user of the site.</h5>
			
		<p>
			<em>This information forms your digital reputation and history of interactions on the site. It will be used by other users to determine if they wish to interact, give or share with you, so take responsibility for your actions. </em>
		</p>

		<p class="top-separated">sharedearth.net does not take responsibility for your items or actions, and will not get involved in disputes, as per our Terms and Conditions.</p>

		<h5>
            <br>
            Requests, incomplete actions, and any related discussion is intended to be visible only to the parties involved.</h5>
		
		<p>
			<em>
				To facilitate transactions with other users, use the discussion functionality available within an action or request. The posts within a discussion are not intended to be accessible to other users on the site. Use common-sense when sharing and interacting with other users, e.g. provide a phone number to facilitate interactions and exchanging details rather than posting your home address on the site.
			</em>
		</p>

		<h5>
            <br>
            Every item, skill or resource you share or offer on the site is visible to every user of the site.</h5>
		<p>
			<em>
				Be sensible about what you share through the site. Over time, resources permitting, privacy features may be introduced that allow you to set visibility levels for specific items.
			</em>
		</p>

		<h5>
            <br>
            Any user can request the resources you share or offer on the site.</h5>

		<h5>
            <br>
            You are not obliged to accept any request for your resources, nor penalised for declining a request.</h5>
		
		<p>
			<em>
				In fact we encourage you to share your gifts consciously and wisely with those who also give to the community. In doing so, our network will grow and become sustainable as others will be encouraged to share and give what they can.
			</em>
		</p>
		
		<h3 class="bottom-title">
			sharedearth.net is designed with love, for a world that is shared.
            <br>
		</h3>
		<% if !current_user.nil? -%>
 		  <% if !current_user.person.accepted_pp? -%>
		    <div class="buttons-holder">
			    <ul class="clearfix">
				    <li>
					    <%= link_to 'Connect', accept_pp_terms_path, :method => 'put', :class => 'positive' %>
				    </li>
				    <li class="no">
					    <%= link_to 'No thanks', signout_path, :class => 'positive' %>
				    </li>
			    </ul>
		    </div>
  		<% end -%>
		<% end -%>


		<!--
			BEGIN post to FB wall
		-->
		
		<!--
		 	<div class="post-to-wall">
				<input type="checkbox" />
				Post on my Facebook wall that I've connected to sharedearth.net
			</div> 
		-->
		
		<!--
			END post to FB wall
		-->
		
	</div><!--	/content -->
	
</div><!--	/terms-conditions-page-->
