#terms-conditions-page
  #content
    = image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net", :title => "sharedearth.net"
    = image_tag "logo-type-large.png", :class => "main-pic", :alt => "sharedearth.net", :title => "sharedearth.net"
    %h1 Email verification

    %h6
      We sent email to address you filled before. Check your email and click the link.

    %ul.clearfix.action-buttons-list{:style => "padding-left: 400px"}
      %li>= link_to "Resent email", resent_activation_user_path(@user), :data => {:method => :post}, :class => "positive"
      %li>= link_to "Log out", signout_path