<div class="items-list clearfix">
  <h3 class="default-title">Facebook friends on sharedeart</h3>
  <ul class="clearfix">
    <% people.each do |person| %>
      <%= render :partial => "person", :locals => {:person => person} %>
    <% end %>
  </ul>
</div>
