-searching_path = @searching_people ? search_people_path : search_fb_friends_path

%div.search-form
	= form_tag searching_path, :method => 'get' do
		%form
			= text_field_tag :search_terms, params[:search_terms], :placeholder => "Search villages, groups or people", :class => "search-input"
			%input{:type => "button", :title => "Search", :type => "submit", :class => "search-button"} Search