<div id="sidebar-left">
  <ul>
    <li class="people selected">
      <%= link_to 'Facebook Friends', others_path %>
    </li>

    <li class= "items" > 
      <%= link_to 'Search', others_path %>
    </li>
  </ul>
</div>

