<%
	# compact version of available activity log actions based on activity type
	# for example used in dashboard.html.erb
%>

<% if !activity_log.event_type.nil? && (activity_log.event_type.new_item_request_requester? || activity_log.event_type.new_item_request_gifter?) %>
	<li>
		<%= link_to "view request", request_path(activity_log.related) %>
	</li>
<% end %>

<% if activity_log.related_type == "ItemRequest"%>
<% if activity_log.related.completed? && activity_log.related.has_left_feedback?(current_user.person.id) %>
	<li>
	  <%= link_to "show feedback", request_path(activity_log.related) %>
	</li>
<% elsif activity_log.related.completed? %>
    <li>
      <%= link_to "leave feedback", new_request_feedback_path(activity_log.related) %>
    </li>
<% end %>
<% end %>


<li><a href="#">comments(0)</a></li>
