
<p>
	<%= render "shared/activity_log_sentence", :activity_log => activity_log %>
</p>

<div class="action clearfix">
	<ul>
		<li class="time-since"><%= time_ago_in_words activity_log.created_at %> ago</li>
		<li>
			<%= render "shared/activity_log_actions_compact", :activity_log => activity_log %>
		</li>
	</ul>
</div>


