%div.share-facebox-html#share-facebox-html
	.content_popup
		%section.modal_popup.share-guide
			%header.row
				%h1.village How?
				
				%div.shareOnFb
					%span.on on
					%span share
					%img{:src=>'/assets/img/icons/fb-icon.png'}
					%div.switchbutton
			%div.content_popup.row#popup-sections
				%section.quarter#quarter1{:onClick=>"check1();"}
					%header
						%h1
							Share
								
						%div.imgHolder
							%div.vCenter
								%img{:src=>"/assets/img/guide-share.png", :alt=>""}
					%article
						%p.thirdHeight Share resources for short periods of time.
						%div.thirdHeight &nbsp; 
						%p.thirdHeight Perfect for tools, outdoor equipment, and appliances you frequently use.
						
						
						
						
						
					%footer
							
				%section.quarter#quarter2{:onClick=>"check2();"}
					
					
					%header
						%h1
							Shareage
								
						%div.imgHolder
							%div.vCenter
								%img.test{:src=>"/assets/img/guide-shareage.png", :alt=>""}
					%article
						%p.thirdHeight Share items for longer periods of time. 
						%p.thirdHeight Get them back when they're needed.
						%p.thirdHeight Perfect for items you rarely use, or as a replacement for storage.
						
						
					%footer
						
				%section.quarter#quarter3{:onClick=>"check3();"} 
					%header
						%h1
							Gift
								
						%div.imgHolder
							%div.vCenter
								%img{:src=>"/assets/img/guide-gift.png", :alt=>""}
					%article
						%p.thirdHeight Gift a single-use item.
						%p.thirdHeight  
						%p.thirdHeight Ideal for concert tickets, food and consumables.
						
					%footer
							
				%section.quarter#quarter4{:onClick=>"check4();"} 
					%header
						%h1
							Common						 
								
						%div.imgHolder
							%div.vCenter
								%img{:src=>"/assets/img/guide-common.png", :alt=>""}
					%article
						%p.thirdHeight Gift resources to the sharedearth commons.
		
						%p.thirdHeight Use resources for as long as you need.Return them when you're done.
						%p.thirdHeight Perfect for everything!
						 
					%footer
							