%div.block.sidebar-block2
	%h1.community-header
		My Community
	%div.community-info
		%span.people
			= network_status_personal_network(nil,nil,{:style=>"color:#fff;text-decoration:none;"})
		%span.resources 
			%span.reources-text
				= network_status_items
	-if current_person.personal_network_size == 0
		=render 'shared/news_feed_empty'
	-else
		=render "shared/news_feed_person", :locals => { :events => @events, :title => 'Your Network Activity' } 
	%a{:href=>"#", :title=>"View more", :class=>"more"} View More