%div.share-small-popup#share-small-popup
	%section.modal_popup#share-guide-section
		%header.row
			%h1.village What?
			 
		- @item = Item.new #if @item.is_a? String or @item.nil? 
	
		= form_for(@item, :html => { :multipart => true},:id=>"textarea-input",:class=>"row"  ) do |f| 	
			%div.row#textarea-input
				
				%input{:type=>"hidden", :name=>"item[purpose]", :id=>"purpose-type"} 
				%input{:type=>"hidden", :id=>"hid"}
				%input{:type=>"hidden", :id=>"small_popup", :value=>"1"}
				
				=	f.text_field :item_type, :class=>"share_text", :id=>"share_name", :placeholder=>"e.g.hammer"
				
				
				%div#detailed-sharing
				
				
				
				
				
				= f.submit "share", :id=>"share-facebox1", :class=>"button" , :onClick=>"return validate();"
				%a{:href=>"#",:id=>"change"}><change
				%p#msj 
				
				
				%div#main-footer
					#share-footer{:onClick=>'DetailSharing();'}
						#down-arrow
				
			
			%div#share-in-details
				%div#item-profile-form-page.new
					%div.item-new-page
							
						- render :partial => "shared/error_messages", :locals => { :model => @item } 
						%div#content
							.ratingdiv
								%p.description#description  Please rate your item
								
								#star.starRating
									%input{:type=>"hidden", :name=>"item[rating]", :class=>"rating-score-hdn"}

								%div.start-comment
									%p#comment
								%br

						%div
							=	f.text_field :name, :class=>"share_text", :id=>"share_descritption", :placeholder=>"Descriptive name, e.g. Trek Road Bike 21 " 
							=	f.text_area :description, :class=>"share_text_2", :id=>"share_info", :placeholder=>"Further information, e.g. Brakes are little noisy." 

