%div.block.sidebar-block
	%h1.community-header
		My Community
	%div.community-info
		%span.people
			= network_status_personal_network
		%span.resources 
			= network_status_items
	/ %ul.block-list
	-if current_person.personal_network_size == 0
		=render 'shared/news_feed_empty'
	-else
		=render "shared/news_feed_person", :locals => { :events => @events, :title => 'Your Network Activity' } 
	%a{:href=>"#", :title=>"View more", :class=>"more"} View More