<%
	# compact version of available event log actions based on activity type
	# for example used in dashboard.html.erb
%>
<div class="action clearfix">
						<ul>
							<li><%= time_ago_in_words event_log.created_at %> ago</li>
							<%= event_actions(event_log) unless event_log.event_type.nil?%>
						</ul>
</div>
