								<div class="inner-content">
									<p>
										<%= render :partial => "shared/item_request_sentence.html.erb", :locals => { :req => req, :dashboard => true } %>
									</p>
					
									<div class="action clearfix">
										<ul>
											<li>
												<%= time_ago_in_words req.created_at %> ago
											</li>
											<%= render :partial => "shared/item_request_actions_compact.html.erb", :locals => { :req => req } %>
										</ul>
									</div>
