<% unless req.rejected? %>
  <li class="content-box clearfix"> 
    <%= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), 
                         request_path(req) %>

    <%= render :partial => "shared/item_request_box.html.erb", :locals => {:req => req} %>	
  
    <%= render :partial => '/comments/comment_box', :locals => {:object => req, :new_comment => true,
																																:is_private     => true} %>
    			
    </div>
  </li>
<% end %>
<!-- -->
