								<div class="inner-content">
									<p>
										<%= render "shared/item_request_sentence", :req => req, :dashboard => true %>
									</p>
					
									<div class="action clearfix">
										<ul>
											<li>
												<%= time_ago_in_words req.created_at %> ago
											</li>
											<%= render "shared/item_request_actions_compact", :req => req %>
										</ul>
									</div>
