-unless req.rejected? || req.canceled?
	
	%div.user-avatar
		= link_to image_tag(item_request_photo(req, :size => :square), :class => "thumb"), request_path(req)
	
	= render "shared/item_request_box", :req => req
	/ = render '/comments/comment_box', :object => req, :new_comment => true, :is_private => true