<% if req.requested? %>
    <% if req.item.share? -%>
			  <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
			  <% sentence = "made a request to borrow" %>
			  <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
			  <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	  <% else %>
	    <% if req.requester?(current_user.person) -%>
	        <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
			    <% sentence = "requested" %>
			    <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
			    <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	    <% else -%>
	        <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
			    <% sentence = "has requested" %>
			    <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
			    <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	    <% end -%>    
	  <% end %>
<% elsif req.accepted? %>
  <% if req.item.share? -%>
    <% if req.requester?(current_user.person) %>
		  <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
		  <% sentence = "are sharing" %>
		  <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
		  <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	  <% else %>
		  <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
		  <% sentence = "is sharing" %>
		  <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
		  <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	  <% end %>
  <% else %>
    <% if req.requester?(current_user.person) %>
		  <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
		  <% sentence = "have to collect" %>
		  <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
		  <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	  <% else %>
		  <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
		  <% sentence = "will collect" %>
		  <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
		  <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
	  <% end %>
  <% end %>
<% elsif req.collected? %>
		  <% person_one = link_to_person(req.requester, {:class => "positive" }) %>
		  <% sentence = "collected" %>
		  <% person_two = link_to_person(req.gifter, :downcase_you => true, :possessive => true, :class => "capitalize positive") %>
		  <% item = link_to req.item.item_type, item_path(req.item), :class => "item-link" %>
<% end %>

<% if dashboard -%>
  <%= (person_one + " " + sentence+ " " + person_two + " " + item).html_safe unless person_one.nil? && sentence.nil? if !person_one.nil? && !person_two.nil? && !sentence.nil?%>
<% elsif !person_one.nil? && !person_two.nil? && !sentence.nil? -%>
   <h2>
						<%= person_one %>
						
						<span>
							<%= (sentence + " "  + person_two).html_safe %> <strong><%= item %></strong>
						</span>
	</h2>
<% end -%>


