<%
	# compact version of available person network request actions based on user's role
	# for example it's used in dashboard.html.erb
%>

<% if req.requester?(current_user.person) %>
	<li>	
	  <%= link_to "cancel", network_request_path(req), :id => "cancel_button", :method => :delete %>
	</li>
<% else %>
	<li>	
	  <%= link_to "view profile", person_path(req.person) %>
	</li>
	<li>	
	  <%= link_to "confirm", confirm_network_request_path(req), :id => "confirm_button", :method => :put %>
	</li>
	<li>	
	  <%= link_to "deny", deny_network_request_path(req), :id => "deny_button", :method => :put %>
	</li>
<% end %>
