%ul
	%li{:class => "clearfix status-line"}
		/ = image_tag "ic-people-community.png", :class => "icons", :align => "left", :alt => "Personal Network"
		%strong= network_status_personal_network
	%br
	%li{:class => "clearfix status-line"}
		/ = image_tag "ic-items-community.png", :class => "icons", :align => "left", :alt => "Items"
		%strong= network_status_items