<h2>Your Network Activity</h2>
<ul>
	<li class="sidebar-box clearfix">
		<div class="inner-content">
			<p>
				You are isolated from the network. <a class="trusted" href="#">Establish</a> a <a class="trusted" href="#">trusted network</a> or <a class="trusted" href="#">join</a> local <a class="trusted" href="#">villages</a> and <a class="trusted" href="#">communities</a> near you.
			</p>
		</div>
	</li>
</ul>
