<ul>
	<li class="sidebar-box clearfix">
		<div class="inner-content">
			<p>
				You are currently isolated.
                <br /><br />
                <a class="trusted" href="/findtheothers">Establish</a> a trusted network with your friends and family.
			</p>
		</div>
	</li>
</ul>
