<ul>
	<li class="sidebar-box clearfix">
		<div class="inner-content">
			<p>
				You are currently isolated.
                <br /><br />
                Establish a trusted network with your <a class="trusted" href="/findtheothers">friends and family</a>.
			</p>
		</div>
	</li>
</ul>
