<h2>News Feed</h2>
			<ul>
			  <% events.each do |event| %>
			  <li class="sidebar-box clearfix">
						<%= 
							 render :partial => "shared/event_log_entry", :locals => { :event_log => event.event_log }
						%>
				</li>
				<% end unless @events.nil? %>		
			  <%= will_paginate @events, :page_links=>false unless @events.nil?%> 
			<a href="#more_news" class="button-more">
	      more
			</a>
