<ul>
	<li class="sidebar-box clearfix">
		<div class="inner-content">
			<p>
				You are currently isolated.
                <br><br>
                <a class="trusted" href="/search/index?search=&type=people">Establish</a> a trusted network with your friends and family.
			</p>
		</div>
	</li>
</ul>
