<div id="site-information-pages">


	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net - from ego to wego", :title => "sharedearth.net - from ego to wego"  %>

		<h2>
			a world vibrating with trust, sharing, love and interconnection
		</h2>

		
		<h3>
            <br>
            sharedearth.net is a social network for humans to build <strong>trust</strong> and <strong>share</strong> possessions and skills, helping us to coordinate our resources consciously, while contributing to the re-imagination of our cultural and economic stories to reflect our emerging experience of universal <strong>interconnection</strong>.
		</h3>

		



		<h5  class="about">
            <br><br>
			How?
		</h5>

		<h3 class="about">
            By collectively making our possessions and skills available to others, we can become aware of the wealth of physical and intellectual capital we already have as a community.
		</h3>

		<h3 class="about">
            Through sharing we can develop behaviours of communal ownership and giving, breaking cultural patterns of individual ownership, ego-centric separation and exclusive property rights.
        </h3>

		<h3 class="about">
            Using the rich reputation information available on each member of the community we can consciously decide with whom we share, and in doing so, build a culture where actions of kindness and love are rewarded through deeper trust, greater collaboration and community.
		</h3>


      <h5  class="about">
          <br>
          A Commons Project
      </h5>

      <h3 class="about">
            sharedearth.net will operate without profit, and with radical transparency.
      </h3>

      <h3 class="about">
            As a project for the commons <em>(cultural and physical resources that are shared among populations)</em> source code, working documents, project management tools and finance information are freely accessible at <a class="grey" href="http://sharedearthplatform.org">sharedearthplatform.org</a>.
      </h3>

      <h3 class="about">
            The source code is <a class="grey" href="http://unlicense.org/">unlicensed</a>, and all project resources are released into the public domain.
      </h3>
	</div><!--	/content -->
</div><!--	/terms-conditions-page-->
