<div id="terms-conditions-page">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net", :title => "sharedearth.net"  %>
      <h1 class="green">
        A World Vibrating with Trust, Sharing, Love and Interconnection
      </h1>

      <h6>
        sharedearth.net is a social network for humans to build <strong>trust</strong> and <strong>share</strong> possessions and skills, helping us to coordinate our resources consciously, while contributing to the re-imagination of our cultural and economic stories to reflect our emerging experience of universal <strong>interconnection</strong>.
      </h6>


      <h2>
        How?
      </h2>

		<p class="principles">
            By collectively making our possessions and skills available to others, we can become aware of the wealth of physical and intellectual capital we already have as a community.
		</p>

		<p class="principles">
            Through sharing we can develop behaviours of communal ownership and giving, breaking cultural patterns of individual ownership, ego-centric separation and exclusive property rights.
        </p>

		<p class="principles">
            Using the rich reputation information available on each member of the community we can consciously decide with whom we share, and in doing so, build a culture where actions of kindness and love are rewarded through deeper trust, greater collaboration and community.
		</p>


      <h2>
          A Commons Project
      </h2>

      <p class="principles">
            sharedearth.net will operate without profit, and with radical transparency.
      </p>

      <p class="principles">
            As a project for the commons <em>(cultural and physical resources that are shared among populations)</em> source code, working documents, project management tools and finance information are freely accessible at <a class="brownish" href="http://sharedearthplatform.org">sharedearthplatform.org</a>.
      </p>

      <p class="principles">
            The source code is <a class="brownish" href="http://unlicense.org/">unlicensed</a>, and all project resources are released into the public domain.
      </p>
			
	</div><!--	/content -->
</div><!--	/terms-conditions-page-->
