<div id="terms-conditions-page">

	<div id="content">
		<%= image_tag "terms-conditions-main-pic.jpg", :class => "main-pic", :alt => "sharedearth.net", :title => "sharedearth.net"  %>
      <h1 class="green">
        We All Share Your Gifts
      </h1>

      <h6>
        sharedearth.net is a gift to the community, from the community.
      </h6>

      <h2>
        Background
      </h2>


		<p class="principles">
            sharedearth.net is currently primarily funded and designed by myself. The bulk of the development is done using contractors from <a class="grey" href="http://www.elance.com">Elance</a>, with several other <a class="grey" href="https://github.com/sharedearth-net/sharedearth-net/blob/master/doc/Contributors.md">people</a> gifting time and assistance to help make the site and its vision a reality.
		</p>

		<p class="principles">
            The vision for the platform is large - <span class="contribute">an open platform enabling us to coordinate our resources at a communal scale</span> - and central to its realisation is the idea of community grown and managed infrastructure, built with love and for communal motives.
        </p>

		<p class="principles">
            As there is no profit motive, and no plans to recoup expenditure or design a business model, development of the platform will only continue up to a point, without further contributions from others.
        </p>

		<p class="principles">
          My intention is to fund and build the platform up to a point where items and skills can be shared and requested amongst your trusted network, villages and communities.
        </p>

		<p class="principles">
          <span class="contribute">If contributions are made by others, the cultural possibilities offered by the site could be realised faster, and the platform could be developed further, into a tool that supports collaboration on projects, ideas and events, weaving together the resources we share in unexpected and creative ways.</span>
        </p>

		<p class="principles">
          If you want to help, and know <strong>ruby on rails</strong>, <strong>ajax</strong>, <strong>html / css</strong>, <strong>UI design</strong>, <strong>graphic design</strong>, or see <strong>any other way</strong> to contribute, please get in <a class="grey" href="mailto:contribute@sharedearth.net">touch</a>. Active contributions are preferable, but <a class="grey" href="mailto:donate@sharedearth.net">donations</a> will be accepted if you're unable to contribute directly.
        </p>

		<p class="principles">
          In addition, forking the main codebase is encouraged if you wish to take the platform in a different direction.
        </p>

		<p class="principles">
          For a world that is shared,<br> <strong>Dan Gooden</strong> (21 September 2011)
        </p>


	</div><!--	/content -->
</div><!--	/terms-conditions-page-->
