-if current_user.person.trusted_network_size == 0
	-dashboard_class = "empty clearfix"
-else
	-dashboard_class = "clearfix"

.dashboard-page
	.row-fluid
		.span9.activity-action
			.row-fluid
				.span4
					%span.my-activity.active
						=link_to "MY ACTIVITY", "#"
					%span.actions
						=link_to "ACTIONS", "#"
			.row-fluid
				.span12.activity-action-click
					.inner-items
						.my-activity-click
							%ul(class="my-activity-1")
								-unless @requests.count.zero?
									.content-box-holder123
										%ul
											-@request_dates.each do |date,requests|
												.date-style
													-if date == Date.today.strftime("%B %d")
														Today
													-else
														=date

												-requests.each do |req|
													-if req.is_a? ItemRequest
														=render :partial => "shared/item_request_content_box", :locals => { :req => req }
													-elsif req.is_a? NetworkRequest
														%li{:class => "clearfix"}
															.span1
																=image_tag(network_request_photo(req, :size => :square), :class => "thumb")
															.inner-content
																.action.clearfix
																	%ul
																		.row-fluid
																			= render :partial => "shared/network_request_actions_compact", :locals => { :req => req }

							
						.my-action-click.hidden-class
							%ul(class="my-action")
								-@recent_activity_dates.each do |date, recent_activity_logs|
									.date-style
										-if date == Date.today.strftime("%B %d")
											Today
										-else
											=date
									-recent_activity_logs.each do |activity_log|
										%li
											= render :partial => 'shared/activity_log_box', :locals => { :activity_log => activity_log }
											-activity_log.is_read!
									- end unless @recent_activity_logs.nil?


		.span3.test
			.row-fluid
				.row-fluid.building-commons
					
					.span12
						
						.building-commons-top
					
						.building-commons-details
							.building-commons-details-background
								-@item_types.each do |item|
									.row-fluid.item-type.bottom-border
										.span8
											=item.item_type
										.span4
											=link_to image_tag("share-mine.png"), "#"
					
						.building-commons-bottom
							.view-more
								=link_to "VIEW MORE", "#"
							
			.row-fluid
				.row-fluid.my-community-box
					.span12
						.network-status-info
							=render "shared/network_status_info"
						.my-community-details
							.my-community-details-background
								-if current_person.personal_network_size == 0
									=render 'shared/news_feed_empty'
								-else
									=render "shared/news_feed_person", :locals => { :events => @events, :title => 'Your Network Activity' } 
						.my-community-box-bottom
							.view-more
								=link_to "VIEW MORE", community_path