%div.wrapper.notification
	
	%div.container
		%span#spantextbar Welcome to <span id="text1">shared</span><span id="text2">earth.net!</span> Get started by adding your items via the share button above.
		%button.close +
%div.wrapper
	#cont.container
		%section#sec.dashboard-feed.page-content
			%div.feed#tabs
				%ul#feed-tabs.feed-tabs
					%li
						%a{:href=>"#tabs-1", :title=>"", :class=>"", :id=>""}><
							My activity
							
					%li
						%a{:href=>"#tabs-2", :title=>"", :id=>""}>< 
							Actions
							%div.notification-bubble 15
				%div.feed-content.activity#tabs-1
					-unless @recent_activity_dates.blank?
						%div.story.clearfix
							%ul.storybox
								-@recent_activity_dates.each do |date, recent_activity_logs|
							
								
									-recent_activity_logs.each do |activity_log|
										= render :partial => 'shared/activity_log_box', :locals => { :activity_log => activity_log }
										-activity_log.is_read!
										
									- end unless @recent_activity_logs.nil?

							
										
				%div.feed-content.actions#tabs-2
					-@request_dates.each do |date,requests|
						%div.story.timestamp
							-if date == Date.today.strftime("%B %d")
								%h2#bullet Today
							-else
								%h2#bullet
									=date						
						%div.story.clearfix
							-requests.each do |req|								
								-if req.is_a? ItemRequest
									=render :partial => "shared/item_request_content_box", :locals => { :req => req }
								-elsif req.is_a? NetworkRequest
									%div.user-avatar
										=image_tag(network_request_photo(req, :size => :square), :class => "thumb")
									= render :partial => "shared/network_request_actions_compact", :locals => { :req => req }

		%aside.dashboard-sidebar.sidebar
			=render :partial => "shared/commons_sidebar"
			=render :partial => "shared/community_sidebar"
