!!! 5
%html
	%head
		%title= @page_title
		
		/ %link{:type=>"text/css", :href=>"less/dashboard.less", :rel=>"stylesheet/less"}
		/ %script{:type=>"text/javascript", :src=>"js/modernizr.js"}
		/ %script{:type=>"text/javascript", :src=>"js/less.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.js"}
		/ %script{:type=>"text/javascript", :src=>"js/jquery.ui.1.9.1.js"}
		/ %script{:type=>"text/javascript", :src=>"js/functions.js"}
	%body 
		
		%div.wrapper.notification
			%div.container
				%span Welcome to sharedearth.net! Get started by adding your items via the share button above.
				%button.close +
		%div.wrapper
			%div.container
				%section.dashboard-feed.page-content
					%div.feed#tabs
						%ul.feed-tabs
							%li
								%a{:href=>"#tabs-1", :title=>"", :class=>"", :id=>""}><
									My activity
									%div.notification-bubble 15
							%li
								%a{:href=>"#tabs-2", :title=>"", :id=>""}>< Actions
							%li
								%a{:href=>"#tabs-3", :title=>"", :id=>""}>< Third
						%div.feed-content.activity#tabs-1
							%div.story.clearfix
								-@request_dates.each do |date,requests|
									%div.story.timestamp
										-if date == Date.today.strftime("%B %d")
											Today
										-else
											=date

									-requests.each do |req|
										-if req.is_a? ItemRequest
											=render :partial => "shared/item_request_content_box", :locals => { :req => req }
										-elsif req.is_a? NetworkRequest
											%div.user-avatar
												=image_tag(network_request_photo(req, :size => :square), :class => "thumb")
											= render :partial => "shared/network_request_actions_compact", :locals => { :req => req }
						
						%div.feed-content.actions#tabs-2
							-unless @recent_activity_dates.blank?
								-@recent_activity_dates.each do |date, recent_activity_logs|
									%div.story.timestamp
										-if date == Date.today.strftime("%B %d")
											Today
										-else
											=date
									%div.story.clearfix
										-recent_activity_logs.each do |activity_log|
											= render :partial => 'shared/activity_log_box', :locals => { :activity_log => activity_log }
											-activity_log.is_read!
											%br
										- end unless @recent_activity_logs.nil?

				%aside.dashboard-sidebar.sidebar
					%div.block.sidebar-block
						%hgroup
							%h1 building the commons
							%h2 Do you own the following?
						%ul.block-list
							-@item_types.each do |item|
								%li
									%span.resource
										=item.item_type
									=link_to "Share Mine", "#", :class => "button medium"
						%a{:href=>"#", :title=>"View more", :class=>"more"} View More
					
					=render :partial => "shared/community_sidebar"