.button-holder-connect.first
  %h2= link_to "connect", '#', :title => "Sign in or register", :onClick => "$('.button-holder-connect.first').addClass('hidden'); $('..button-holder-connect.second').removeClass('hidden'); return false;"
  %p
    Locate
    %span shared
    resources anywhere on
    %br/
    %span earth
    and.
.button-holder-connect.second.hidden
  = render "sessions/form"

.stats-holder
  %ul
    %li
      %a{:href => "#"} 1 earth
    %li.people
      %a{:href => "#"} 9999 human beings connected
    %li.resources-shared
      %a{:href => "#"} 1411 resources shared
    %li.resources-commoned
      %a{:href => "#"} 300 resources commoned
    %li.gift
      %a{:href => "#"} 400 gift actions undertaken
/ /stats-holder