!!! 5
%html
  %head
    %title= @page_title
    
    / %link{:type=>"text/css", :href=>"less/landing.less", :rel=>"stylesheet/less"}
    / %script{:type=>"text/javascript", :src=>"js/modernizr.js"}
    / %script{:type=>"text/javascript", :src=>"js/less.js"}
    / %script{:type=>"text/javascript", :src=>"js/jquery.js"}
    / %script{:type=>"text/javascript", :src=>"js/jqui.js"}
    / %script{:type=>"text/javascript", :src=>"js/functions.js"}
  %body
    %div.wrapper
      %div.container
        %div.half.landing-left
          %a{:href=>"#", :title=>"Sharedearth", :class=>"logo-big"}
            =image_tag"img/logo.png"
            
            %h1
              shared
              %span.imp>< earth.net
            %h2
              Build the commons 
              %span.imp Change the world
        %div.half.landing-right
          %div.sidebar-block
            %ul.block-list
              %li.earth 
                %b 1 earth.
              %li.human 
                %b 9999 human 
                beings connected
              %li.resources-shared 
                %b 1411 resources 
                shared
              %li.resources-commoned 
                %b 300 resources 
                commoned
              %li.gift 
                %b 400 gift 
                actions undertaken
          %h1 
            Locate 
            %span.imp shared 
            resources anywhere on 
            %span.imp earth
          =link_to "Connect", new_session_path, :class => "button", :remote=>true