%section.index-page
  %section.about
    = image_tag "icons/star.jpg", :width => 102, :height => 98
    %h1 About
    %h2 A World Vibrating with <br/> Trust, Sharing, Love and Interconnection

  %section.main
    %p Sharing anchors community.

    - 3.times do
      %p= "Sharing anchors community. " * rand(5..30)

    %p
      Each act of sharing is a transitional step forwards a just and sustainable society.

  %section.green_earth
    = image_tag 'icons/earth.jpg'
    %p
      We, the commoners, are building a beter future.
      %br
      Be the change, build the commons.
      %br
      %strong Build the commons, change the world.