<% content_for :no_js_msg do %>
  <p>It appears that Javascript is disabled in your browser. To use sharedearth.net Javascript needs to be enabled.</p>
  <p> <a href="http://www.google.com/search?q=how+do+i+enable+javascript%22" title="How to enable Javascript">How do I enable Javascript?</a></p>
<% end %>
