<div class="item-edit">
	<h1>Editing item</h1>

	<%= render 'form' %>
	<ul class="action-buttons-list">
		<li>
			<%= link_to 'Show', @item, :class => "positive" %>
		</li>
		<li>
			<%= link_to 'Back', items_path %>
		</li>
	</ul>
</div>
