@light-green: #7AB906;
@greenish-gray: #62775A;

@light-gray: #F5F5F5;
@darkish-gray: #CCCCCC;

@dark-gray: #686A70;

@btn-black: #0A1800;

@brownish-gray: #76726E;

@blackish: #38342E;

@white: #FFFFFF;
@black: #000000;