@import "general.less";

#cont{
	padding-left: 15px;
	margin-top: 0px;
}

.buttons-right{
	padding-bottom: 15px;
	padding-top: 30px;
	float: right;
}

#community-reload {
	display:inline-block;
	float:right;
	padding-right: 50px;
	padding-top: 8px;
}

#search h1 {
	color:#6a8b1e;
	display: block;
	font-size: 2em;
	font-weight: bold;
	line-height: 20px;
}

#searchwrapper {
	width:380px;
	height:45px;
	background-image:url(/assets/connect/search-bar.png);
	background-repeat:no-repeat;
	padding:0px;
	margin:0px;
	position:relative;
	margin-bottom:15px;

	form { 
		display:inline ; 
	}
	.searchbox {
		border:0px !important;
		background-color:transparent !important;
		position:absolute;
		top:4px;
		left:9px;
		width:325px;
		height:34px !important;
		color:#999999 !important;
	}
}
.searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:10px;
	left:345px;
	width:34px !important;
	height:28px;
}

#community-refresh-btn{
	display:block; width:670px;

	h2 {
		display:inline; 
		vertical-align:sub; 
		color:#666666; 
		padding-left:5px;
		font-size: 18px;
		font-weight: normal;
	}
}

#suggested {
	display:inline-block; 
	width:350px; 
	margin:10px 0;
}

.block-wrapper {
	width:315px; 
	padding-left:20px; 
	padding-top:5px; 
	padding-bottom:2px;
	height: 100px;

	.imagePad {
		padding-bottom: 35px;
	}
}

#communities {
	width:670px;
}

.block-info {
	display:inline-block; 
	width:170px; 
	padding-left:15px;

	p {
		color:#9e9e9e;
		margin-top:0;
		display: block;
		font-size:14px;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		line-height: 0px;
		padding-top: 6px;
	}

	h3 {
		color:#554943; 
		margin-bottom :0px;
		display: block;
		font-size: 16px;
		font-weight: normal;
		line-height: 0px;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}
	.button {
		width: 80px;
		font-size: 12px;
		text-align: center;
	}

	a {
		color: white;
	}
}

.block-row {
	display:inline-block; 
	border-bottom:1px solid #deecd9; 
	padding-top :10px; 
	width:314px;
}
 

.block-wrapper:hover {
	background: url(/assets/connect/tab.png) no-repeat 0% 0%;
	background-size: 315px 100px;
}

.suggest-side-header h1 {
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	position: relative;
	top: -11px;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}

/* */
.connect-sidebar-block {
  position:relative;
  width:282px;
  margin-bottom: 20px;
  padding: 11px;
  background: #c7c5c5;
  border-radius: 5px;
  border: 1px solid #84aa30;
  
	hgroup{
		background-image:url(/assets/musician_grp.png);
		background-repeat: no-repeat;
		padding-top: 2px;

		h1 {
			font-size: 17px;
			font-weight: bold;
			line-height: 26px;
			color: #fff;
			position:relative;
			padding-left: 35px;
			top:-11px;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
		}
  	}

  	p{
  		font-size: 14px;
  		color: #554943;
  	}

  	.block-list {
  		font-size: 14px;
  		margin: 30px 0 0 0;
  	}

	.more {
		display: block;
		text-align: center;
		font-size: 15.58px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
		margin-top: 10px;
	}

}

.trusted-block {
	background: url(/assets/trusted_people.png) no-repeat 2% 0%;
	line-height: 30px;
	padding: 0px 7px 0px 55px;
}

.communities-block {
	background-image:url(/assets/community_people.png);
	background-repeat: no-repeat;
	padding-top: 2px;
	line-height: 30px;
	padding: 0px 7px 0px 55px;
}

.people-block {
	background: url(/assets/grey_grp.png) no-repeat 2% 0%;
	background-repeat: no-repeat;
	padding-top: 2px;
	line-height: 30px;
	padding: 0px 7px 0px 55px;
}

.items-block {
	background: url(/assets/grey_leaf.png) no-repeat 5.5% -9%;
	line-height: 30px;
	padding: 0px 7px 0px 55px;
}