@import "reset.less";
/***** Variables ******/
@lightGreen: #7ab906;
@greyishGreen: #62775a;
@darkGreen: #097b05;

/***** Mixins *******/

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background-image: -o-linear-gradient(
                    @stop,
                    @start);
}

.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}

.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}
/***** General stylings *****/

.button {
  display: inline-block;
  padding: 4px 8px;
  cursor: pointer;
  .rounded(12px);
  background: @lightGreen;
  color: #ffffff;
  text-decoration: none;
  .gradient(#6b8f1a, #6b8f1a, #a5cd4e);
  border: none;
  .box-shadow(~"0px 1px 1px rgba(0,0,0,.29), inset 0px 1px 1px rgba(255,255,255,.44)");
  &:hover {
    
    color: #573606;
  }
}

.ui-switch {
  padding-right: 30px;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 3px;
    top: 3px;
    background: url(/assets/img/icons/switch.png) no-repeat;
  }
}
/***** Grid ******/
.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 15px;
  &:after, &:before {
    content:"";
      display:table;
  }
  &:after{
    clear:both;
  }
}
.clearfix {
  &:after, &:before {
    content:"";
      display:table;
  }
  &:after{
    clear:both;
  }
}

.half {
  width: 50%;
  float: left;
}
.quarter {
  padding: 0 17px;
  width: 25%;
  float: left;
  position: relative;
}
.page-content {
  width: 65%;
  float: left;
  margin-right: 6%;
  position: relative;
}
.sidebar {
  width: 29%;
  float: left;
}
/**** reusable elements ****/
.networks {
  overflow: hidden;
}

.social {
  position: relative;
  display: block;
  width: 25px !important; 
  height: 25px !important;
  float: left;
  margin-right: 10px;
  .rounded(3px);
  &.fb {
    img {
      position: absolute;
      right: 3px;
      bottom: 3px;
    }
  }
  &.twitter {
    img {
      position: absolute;
      left: 2px;
      top: 5px;
    }
  }
}

div.block-list{
  padding: 10px;
}

.block-list {
  margin: 15px 0 0 0;
  background: #f5f5f5;
  list-style: none;
  overflow: hidden;
  .box-shadow(0 -2px 3px rgba(78,71,63,.17));

  li {
    display: block;
    padding: 11px 7px;
    background: #f5f5f5;
    border-bottom: 1px solid #c7c5c5;
    overflow: hidden;
    &.share-mine {
      background: #fff;
    }
    .resource {
      float: left;
    }
    .resource{
      padding: 4px 0;
    }
    .button, .share-details {
      float: right;
    }
    .share-details {
      color: #729620;
      text-decoration: none;
      padding: 4px 20px 4px 0;
      background: url(/assets/img/icons/refresh.png) no-repeat center right;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  a{
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.filters{
  margin-top: 0px;
}
.filter {
  padding: 0;
  &.heading {
    color: #fff;
    background: #afc878 url(/assets/img/icons/my-community.png) no-repeat 10px center;
    padding: 15px 7px 15px 62px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 1px 1px rgba(58,57,57,.39);
  }
  a {
    padding: 11px 7px 11px 55px;
    display: block;
    &.village {
      background: url(/assets/img/icons/house-big-inactive.png) no-repeat left center;
      &.active {
        background: url(/assets/img/icons/house-big-active.png) no-repeat left center;
      }
    }
    &.groups {
      background: url(/assets/img/icons/group-big-inactive.png) no-repeat 11px center; 
      &.active {
        background: url(/assets/img/icons/group-big-active.png) no-repeat 11px center;
      }
    }
    &.trusted {
      background: url(/assets/img/icons/trusted-big-inactive.png) no-repeat 5px center;  
      &.active {
        background: url(/assets/img/icons/trusted-big-active.png) no-repeat 5px center;
      }
    }
  }
}
.trust-status {
  .heading {
    position: relative;
    padding-right: 40px;
    .status{
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding-left: 20px;
      font-weight: bold;
      line-height: 26px;
      &.trusted {
        background: url(/assets/img/icons/check.png) no-repeat left center;
      }
      &.untrusted {
        background: url(/assets/img/icons/x.png) no-repeat left center;
      }
    }
  }
  .trust-list {
    li {
      padding: 20px 30px 20px 70px;
      position: relative;
      &.i-trust {
        background: url(/assets/img/icons/i-trust.png) no-repeat 15px center;
      }
      &.network-trust {
        background: url(/assets/img/icons/network-trust.png) no-repeat 15px center;
      }
      &.others-trust {
        background: url(/assets/img/icons/others-trust.png) no-repeat 15px center;
      }
    }
    .remove {
      position: absolute;
      right: 15px;
      top: 22px;
      display: block;
      width: 14px;
      height: 14px;
      background: url(/assets/img/icons/close-small-sprite.png) no-repeat ;
      text-indent: -9999em;
      &:hover {
        background-position: 0 -16px;
      }
    }
  }
}
.logo {
  display: block;
  width: 252px;
  height: 56px;
  text-indent: -999em;
  margin-left:84px;
  background: url(/assets/img/logo-normal.png) no-repeat;
}

input[type=text], textarea, input[type=password] {
  color: #999999;
  .rounded(8px);
  border: 1px solid #cfcfcf;
  .box-shadow(-2px 2px 2px rgba(0,0,0,0.08));
  padding: 8px 10px;
  font-family: @font-stack;
  background: #fbfbfa;
  &:focus {
    outline: 0;
    .gradient(#fff, rgba(255,255,255, 1), rgba(255,255,255,.25));
    color: #423829;
  }
}

a {
  color: inherit;
  &:hover, &:focus{
    text-decoration: none;
  }
}
.row {
  width: 100%;
  float: left;
}

.profile-settings {
  
  float: right;
  height: 60px;
  width: 200px;
  .user-avatar {
    float: right;
    margin-left: 5px;
    
    img {
      height: 60px;
      width: auto;
      margin-right:100px;
    }
  }
  .profile-left {
    float: left;
    position: relative;
    .user-name {
      
     position:absolute;
      display: -moz-box;
      text-align: right;
      color: #bfd988;
      font-size: 16px;
      font-weight: bold;
     margin-left:-45px;
      text-decoration: none;
      text-shadow: 0px -2px 2px rgba(0,0,0,.75);
    }
    
    .settings-button {
      position:relative;
      right:-61%;
     margin-left:32px;
      margin-top: 34px;
      float: right;
      display: block !important;
      width: 32px;
      height: 25px;
      background: url(/assets/img/icons/settings.png) no-repeat;
      text-indent: -9999px;
      line-height: 0;
    }
  }
}

.community {
  position:relative;
  left:7.5%;
  width: 196px;
  margin-top: 10px;
  padding: 3px;
  background: rgba(0,0,0,.35);
  .rounded(5px);
  .community-button {
    .gradient(#302c27,#302c27,#4e473f);
    height: 39px;
    color:#FFFFFF;
    line-height: 39px;
    float: left;
    position: relative;
    &:hover {
      .gradient(#4e473f,#4e473f,#302c27);
    }
  }
  .community-logo {
    width: 30%;
    .border-radius(0, 0, 3px, 3px);
    border-right: 1px solid #302d2d; 
    text-align: center;
  }
  .community-link{
    width: 70%;
    .border-radius(3px, 3px, 0, 0);
    border-left: 1px solid #4e463f;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-decoration: none;
  }
}
header {
  .container {
    padding: 5px 15px;
  }
}
.resource-list{
  float: left;
  margin-left: 150px;
  overflow: hidden;
  width: 250px;
  .resource-container {
    width: 50px;
    height: 60px;
    float: left;
  }
  .resource {
    margin: 10px auto 0;
    height: 50px;
    display: block;
    color: #99b856;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    &:hover {
      height: 60px;
      margin: 0 auto;
    }
  }

  .resource-human {
    background: url(/assets/img/icons/human-icon.png) no-repeat center bottom;
    width: 25px;
    &:hover {
      width: 29px;
      background: url(/assets/img/icons/human-icon-hover.png) no-repeat center bottom;
    }
  }
  .resource-gift {
    background: url(/assets/img/icons/gift-icon.png) no-repeat center bottom;
    width: 26px;
    &:hover {
      width: 30px;
      background: url(/assets/img/icons/gift-icon-hover.png) no-repeat center bottom;
    }
  }
  .resource-collect {
    background: url(/assets/img/icons/collect-icon.png) no-repeat center bottom;
    width: 27px;
    &:hover {
      width: 34px;
      background: url(/assets/img/icons/collect-icon-hover.png) no-repeat center bottom;
    }
  }
  .resource-davinci {
    background: url(/assets/img/icons/davinci-icon.png) no-repeat center bottom;
    width: 24px;
    &:hover {
      width: 28px;
      background: url(/assets/img/icons/davinci-icon-hover.png) no-repeat center bottom;
    }
  }
  .resource-thumbsup {
    background: url(/assets/img/icons/thumbsup-icon.png) no-repeat center bottom;
    width: 24px;
    &:hover {
      width: 28px;
      background: url(/assets/img/icons/thumbsup-icon-hover.png) no-repeat center bottom;
    }
  }
}
.settings-dd {
  display: none;
  min-width: 150px;
  position: absolute;
  top: 85px;
  right: -56px;
  z-index: 10000;
  text-align: left;
  border: 1px solid #ededed;
  background: white;
  .rounded(5px);
  .box-shadow(0px 0px 3px 1px rgba(0,0,0,.25));
  &:before {
    content:"";
    display: block;
    width: 22px;
    height: 20px;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -11px; /* Half the width */
    background: url(../img/icons/dd-arrow.png) no-repeat;
  }
  
  a {
    display: block;
    padding: 4px;
    border-bottom: 1px solid #ededed;
    color: #534741;
    text-decoration:none;
    &:hover {
      background: #e1dbc9;
      color: @darkGreen;
      border-bottom: 1px solid #b5b993;
    }
  }
}
.subheader {
  .left, .buttons {
    float: left;
  }
  .right, .search-form {
    float: right;
  }
  .buttons {
    position:relative;
    right:81%;
    .button {
      width: 115px;
      height:37px;
      line-height: 37px;
      text-align: center;
      font-size: 14px;  
      font-weight: bold;
      
      padding: 0px;
      color: #3e5706;
      .rounded(12px);
      text-shadow: 0px 1px 1px rgba(255,255,255,0.22);
      text-decoration:none;
      &:hover{
        background:#FABD1E;
      }
    }
  }
}
.search-form {
  position: absolute;
  line-height: normal;
  margin-left:69px;
  width:185px;
}
#search-input{
  color:#999999;
  background: none repeat scroll 0 0 #FBFBFA;
}
.search-input{
  height: 37px;
  
  .rounded(15px);
  margin-left: 5px;
  padding-right: 45px;
  &:focus {
    outline: 0;
  }
}
.search-button {
  height: 37px;
  width: 37px;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #e0e0e0;
  background: url(/assets/img/icons/magnifier.png) no-repeat center;
  text-indent: -9999em;
  .border-radius(12px, 12px, 0, 0);
}
.notification-bubble{
  display: inline-block;
  height: 17px;
  position: absolute;
  top: -9px;
  right: 10px;
  padding: 0 5px;
  font-size: 11px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  .gradient(#ec7101,#ec7101,#ffff18);
  .rounded(3px);
  .box-shadow(0 0 5px 2px rgba(255,255,190,.89));
}

.feed-tabs {
  position: absolute;
  top: -36px;
  margin-left:0px;
  left: 0;
  li {
    float: left;
    a {
      position: relative;
      margin-right: 7px;
      padding: 11px 40px 6px 40px;
      background: #afc878;
      .border-radius(10px, 0, 0px, 10px);
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      outline: 0;
      &:hover  {
        background: #99b856;
      }
    }
    &.ui-state-active {
      a {
        background: #99b856;
        padding: 20px 40px 15px 40px;
        top:-8px;
      }
    }
  }
}
.feed {
  background: #99b856;
  padding: 21px 11px 31px;
  margin-top: 40px;
  .border-radius(5px, 5px, 5px, 0);
  position: relative;
}
.activity {
  .story {
    margin-left: 50px;
    border-bottom: none;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: -30px;
      display: block;
      width: 14px;
      height: 14px;
      background: #f0fbe8;
      .rounded(50px);
      .box-shadow(0px 1px 1px rgba(153,184,86,.75));
    }
    &.timestamp {
      h2 {
        color: @lightGreen;
        font-size: 14px;
        a {
          text-decoration: none;
          &:hover {
            color: @darkGreen;
          }
        }
      }
      &:before {
        top: 12px;
      }
    }
  }
}
.feedback-buttons {
  margin: 0 auto;
  text-align: center;
  a {
    display: inline-block;
    width: 19px;
    height: 22px;
    text-indent: -9999em;
    margin: 0 5px;
    background: url(../img/icons/thumbs-sprite.png) no-repeat;
  }
  .like-button {
    background-position: 0 0;
    &:hover {
      background-position: 0 -23px;
    }
  }
  .dislike-button{
    background-position: 0 -46px;
    &:hover {
      background-position: 0 -69px;
    }
  }
}

.feed-content {
  background: #e7f4dd;
  .clearfix;
}
header.wrapper {
  background: #39352f url(/assets/img/header-pattern.png) repeat;
  border-bottom: 1px solid #d1d1d1;
  .box-shadow(0px 2px 5px rgba(0,0,0,.29));
  color: #fff;
  .community {
    float: left;
  }
}
.story {
  padding: 11px 13px;
  border-bottom: 1px solid #dadada;
  .user-avatar, .story-main {
    float: left;
  }
  .user-avatar {
    width: 8.5%;
    margin-right: 2%;
  }
  .story-main {
    width: 72%;
    margin: 0 2% 2% 0;
    font-size: 14px;
    
    color: #5f5f5f;
  }
  .story-status{
    float: right;
    width: 15%;
    overflow: visible;
    .button {
      min-width: 80px;
      text-align: center;
    }
  }
  .story-meta {
    margin-top: 2%;
  }
}
.message{
  width: 89%;
  background: #dbe7c9;
  padding: 10px;
  float: right;
  border-bottom: 1px solid #d6e8b3;
  .story-main {
    margin: 0;
    width: 89%;
    font-weight: normal;
    font-size: 13px;
  }
  &.comment {
    .box-shadow(0 -2px 5px rgba(0,0,0,0.08));
  }
}
.sidebar-block1 {
  position:relative;
  width:300px;
  margin-bottom: 20px;
  padding: 11px;
  background: #c7c5c5;
  border-radius: 5px;
  border: 1px solid #84aa30;
  &.reputation{
    background: #ddd7c8;
  }
  
  h1 {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
  }
  h2 {
    font-size: 14px;
    line-height: 18px;
    color: #534741;
    font-weight: normal;
  }
  .more {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    margin-top: 10px;
  }
  .user-header {
    .clearfix;
    .user-avatar, .user-info  {
      float: left;
    }
    .user-avatar {
      width: 25%;
      margin-right: 5%;
    }
    .user-info {
      width: 70%;
    }
    .name {
      color: #729427;
      font-size: 18px;
      font-weight: bold;
    }
    .location{
      color: #6b6969;
      font-size: 14px;
    }
  }
}


.sidebar-block2 {
   position:relative;
  width:300px;
  margin-bottom: 20px;
  padding: 11px;
  background: #c7c5c5;
  border-radius: 5px;
  border: 1px solid #84aa30;
  &.reputation{
    background: #ddd7c8;
  }
  
  h1 {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
  }
  h2 {
    font-size: 14px;
    line-height: 18px;
    color: #534741;
    font-weight: normal;
  }
  .more {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
    margin-top: 10px;
  }
  .user-header {
    .clearfix;
    .user-avatar, .user-info  {
      float: left;
    }
    .user-avatar {
      width: 25%;
      margin-right: 5%;
    }
    .user-info {
      width: 70%;
    }
    .name {
      color: #729427;
      font-size: 18px;
      font-weight: bold;
    }
    .location{
      color: #6b6969;
      font-size: 14px;
    }
  }
}

























.reputation {
  hr {
    border-top: 1px solid #84aa30;
    border-bottom: none;
  }
}
.reputation-list {
  li {
    padding: 20px 20px 20px 50px;
    &.gift-actions {
      background: url(../img/icons/gift.png) no-repeat 15px center;
    }
    &.humans-helped {
      background: url(../img/icons/human-helped.png) no-repeat 10px center;
    }
    &.feedback-score {
      background: url(../img/icons/like.png) no-repeat 15px center;
    }
  }
}
.community-header {
  display: block;
  height: 41px;
  line-height: 41px !important;
  padding-left: 50px;
  background: url(/assets/img/icons/my-community.png) no-repeat left center;
}

.community-info {
  padding: 10px 0;
  border-top: 1px solid #8a8a8a;
  border-bottom: 1px solid #8a8a8a;
  background: #b2b2b2;
  font-size: 14px;
  position: relative;
  &:before, &:after  {
    content:"";
    height: 100%;
    width: 11px;
    position: absolute;
    top: -1px;
    background: #b2b2b2;
    border-top: 1px solid #8a8a8a;
    border-bottom: 1px solid #8a8a8a;
  }
  &:before  {
    left: -11px;
  }
  &:after  {
    right: -11px;
  }
  span {
    display: block;
    padding-left: 40px;
  }
  .people {
    height: 25px;
    line-height: 25px ;
    background: url(/assets/img/icons/human-icon.png) no-repeat left center;
  }
  .resources {
    height: 27px;
    line-height: 27px;
    background: url(/assets/img/icons/collect-icon.png) no-repeat 8px center;
    margin-top: 10px;
  }
  color: #fff;
}
footer {
  background: #39352f url(../img/header-pattern.png) repeat;
  a {
    color: #a3a3a3;
    
    text-decoration: none;
    text-shadow: 0 -1px 0px rgba(0,0,0,.5);
    &:hover {
      text-decoration: underline;
    }
  }
  nav {
    float: left;
    a {
      float: left;
      margin: 0 5px;
      &:after{
        content: "|";
        color: #fff;
        font-weight: normal;
        text-shadow: 0 -1px 0px rgba(0,0,0,.5);
        margin-left: 10px;
      }
    }
  }

}
.story-meta {
  font-size: 11px;
  .date {
    color: #8b8b8b;
    a {
      color: inherit !important;
      text-decoration: none;
      &:hover  {
        text-decoration: underline;
      }
    }
  }
  a {
    text-decoration: underline;
    color: @lightGreen;
    &:hover {
      text-decoration: none;
    }
  }
  a, .date {
      margin-right: 3px;
      font-weight: normal;
    }
}

.right{
  float: right;
}

/***** MODALS *****/
#overlay {
   visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background: rgba(0,0,0,.5);
    .modal {
      margin: 100px auto;
    }
}


.modal {
  background: #fff;
  width: 470px;
  overflow: hidden;
  .rounded(10px);
  .box-shadow(0 0 5px 2px rgba(0,0,0,0.25));
  header {
    background: #6f941e;
    color: #fff;
    padding: 0 15px;
  }
  h1 {
    float: left;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    text-shadow: 0px 1px 1px rgba(0,0,0,.5);
    font-weight: normal;
    color: #fff;
    &.village {
      background: url(/assets/img/icons/village.png) no-repeat left center;
      padding-left: 50px;
    }
  }
  .close {
    float: right;
    width: 20px;
    height: 20px;
    background: url(/assets/img/icons/close-sprite.png) no-repeat;
    text-indent: -9999em;
    border: 0;
    margin-top: 12px;
    &:hover {
      background-position: 0 -22px;
    }
  }
  input,textarea {
    width: 100%;
    resize: none;
  }
  textarea {
    min-height: 120px;
  }
  .content {
    padding: 20px 15px;
  }
  .button {
    float: right;
    border: 1px solid #a29f9f;
    .box-shadow(inset -1px 1px 1px rgba(255,255,255,.44));
    text-align: center;
    font-size: 14px;  
    font-weight: bold;
    padding: 10px 20px;
    color: #3e5706;
    .rounded(12px);
    text-shadow: 0px 1px 1px rgba(255,255,255,0.22);
  }
  button.expand {
    background:  #dfd8c9 url(../img/icons/expand.png) center no-repeat;
    display: block;
    width: 100%;
    height: 38px;
    border: 0;
    text-indent: -9999em;
  }
  .change {
    margin-top: -10px;
    a {
      float: right;
      color: #999999;
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

.register, .login {
  width: 330px;
  header{
    .gradient(#edead8, #fbfaf7, #edead8);
    border-bottom: 1px solid #f1f2f0;
    padding: 15px 0 20px 0;
  }
  .logo-small {
    margin: 0 auto;
    display: block;
    width: 187px;
    height: 26px;
    background: url(../img/logo-small.png) no-repeat;
    text-indent: -9999em;
  }
  .connect {
    .gradient(#eaeddc, #c6d59d, #eaeddc);
    border-top: 1px solid #c5d69d;
    border-bottom: 1px solid #e3e4e0;
    height: 35px;
    padding: 0 20px;
    .caption{
      float: left;
    }
    .buttons{
      float: right;
    }
  }
  .caption {
      
      color: #9bae71;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 35px;
      font-weight: bold;
      text-shadow: 1px 1px 1px rgba(255,255,255,.22);
    }
  .content {
    border-top: 1px solid @darkGreen;
  }
  input{
    color: #9bae71;
    &::-webkit-input-placeholder, &::-moz-placeholder{
      color: #9bae71;
    }
  }
  .button {
    display: inline-block;
    max-width: 100px;
  }
  a{
    font-size: 11px;
    line-height: 14px;
    color: #c3c5c0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .switch-action {
    display: inline-block;
    padding-left: 15px;
    color: #80a52d ;
    font-size: 14px ;
    background: url(../img/icons/pencil.png) no-repeat left center;
    line-height: 38px;
  }
}
.feedback {
  .button {
    display: inline-block;
    max-width: 100px;
  }
}
div.rating-cancel {
  display: none !important;
}
.rate-item, .rate-experience {
  text-align: center;
  color: #999999;
  font-size: 14px;
  .imp {
    font-weight: bold;
    color: #6f941e;
  }
}
.starRating {
  width: 140px;
  margin: 10px auto;
  overflow: hidden;
}
.rate-experience {
  label {
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
}

.exp-button {
  width: 123px;
  height: 41px;
  position: relative;
  display: inline-block;
  margin: 15px 5px 0;
  label {
    z-index: 5;
    background-repeat: no-repeat;
    background-position: 15px center;
  }
  input {
    z-index: 5;
  }
  label, input {
    position: absolute;
    left: 0;
    top: 0;
    width :123px;
    height: 41px;
    cursor: pointer;
    line-height: 41px;
    font-weight: bold;
    padding-left: 40px;
    text-align: left;
  }
  .styledRadio {
    z-index: 200;
  }
}

#positiveLabel {
  color: #7e9f35;
  background-image: url(../img/icons/positive.png);
}
#neutralLabel {
  background-image: url(../img/icons/neutral.png);
}
#negativeLabel {
  color: #be706c;
  background-image: url(../img/icons/negative.png);
}

.share-guide {
  width: 600px;
  .shareOnFb {
    margin: 10px 15px 0 0;
    float: right;
    background: #7a9cc6;
    .rounded(50px);
    height: 20px;
    line-height: 20px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #2a4972;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.48);
    .box-shadow(~"0px 1px 1px rgba(255,255,255,.85), inset 0px 1px 1px rgba(0,0,0,.20)");
    .on {
      color: #07820a;
    }
    .off {
      color: #820707;
    }
  }
  .content {
    padding: 0 0;
    overflow: hidden;
  }
  .thirdHeight {
    display: block;
    width: 100%;
    height: 80px;
  }
  .imgHolder {
    height: 120px;
    width: 100%;
    display: table;
    .vCenter {
      display: table-cell;
      margin: 0 auto;
      vertical-align: middle;
      text-align: center;
    }
  }
  .quarter {
    margin: 0;
    width: 25%;
    border-right: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    color: #7b7b7b;
    &:last-child {
      border-right: none;
      .border-radius(0, 10px, 0, 0)
    }
    &:hover {
      .gradient(#f2f3db, #9fdd72, #f2f3db);
      border: 2px solid #a5a5a5;
      padding: 8px;
      .box-shadow(0px 0px 8px 2px rgba(0,0,0,.3));
    }
    header {
      background: transparent;
      padding: 0;
      width: 100%;
      text-align: left;
      h1 {
        display: inline;
        float: none;
        color: #616262;
        font-size: 18px;
        line-height: 26px;
        text-shadow: 1px 1px 1px rgba(255,255,255,.5);
      }
    }
  }
}
.mission {
  display: block;
  width: 600px;
  height: 100px;
  padding: 20px 20px 20px 190px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #90c52f;
  color: #ffffff;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.35);
  .rounded(15px);
  position: relative;
  overflow: visible;
  &:before {
    content: "";
    width: 154px;
    height: 154px;
    display: block;
    background: url(../img/earth.png) no-repeat;
    position: absolute;
    top: -27px;
    left: 20px;

  }
}

.sidebar-links {
  background: #f5f5f5;
  padding: 10px;
  h1 {
    font-size: 18px;
    color: #534741;
    text-shadow: 1px 1px 1px rgba(255,255,255,.3);
  }
  ul {
    background: transparent;
    padding: 0;
    margin: 0;
    .box-shadow(0 0 0 rgba(0,0,0,0));
  }
  li {
    padding: 0;
    margin: 0;
    border: none;
  }
  a {
    display: block;
    width: 100%;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #534741;
    &:hover {
      background: #ecebeb;
      color: #719325;
    }
  }
  .networks {
    padding-left: 5px;
  }
  .social {
    float: left !important;
  }
}

.user-avatar img {
  width: 100%;
  .rounded(3px);
  .box-shadow(0px 0px 4px 1px rgba(0,0,0,.64));
}

.community-page-header{
  overflow: hidden;
  margin-bottom: 80px;
  .community-avatar {
    width: 120px;
    border: 3px solid #84aa30;
    .rounded(5px);
    margin-right: 20px;
    float: left;
    img {
      width: 100%;
    }
  }
  .community-content{
    width: 490px;
    float: left;
    color: #a0a0a0;
  }
  h1 {
    color: #6a8b1e;
    font-size: 34px;
    line-height: 40px;
  }
  h2 {
    color: #534741;
    font-size: 18px;
    line-height: 24px;
  }
  .community-header-links {
    width :100%;
    margin: 10px 0;
    a{
      color: #534741;
      display: inline-block;
      height: 27px;
      line-height: 27px;
      text-decoration: none;
      margin-right: 20px;
      &:hover {
        text-decoration: underline;
      }
    }
    .people {
      padding-left: 25px;
      background: url(../img/icons/proportions.png) no-repeat 0px center;
    }
    .trusted {
      padding-left: 28px;
      background: url(../img/icons/trusted-grey.png) no-repeat 0px center;
    }
    .items {
      padding-left: 14px;
      background: url(../img/icons/leaf.png) no-repeat 0px center;
    }


  }
  textarea {
    width: 100%;
    height: 60px;
    resize: none;
  }
  hr {
    border: none;
    border-top: 1px solid #e9e8e8;
  }
}

.content-head {
  height: 48px;
  line-height: 38px;
  padding: 5px 15px 5px 20px;
  background: #afc878;
  border-bottom: 1px solid #909289;
  .clearfix;
  h1 {
    float: left;
  }
  .search-form {
    float: right;
  }
}

.search-result{
  background: #f2fcd7;
  width: 100%;
  border-bottom: 1px solid #bdcfaf;
  
  .people, .villages, .groups {
    padding: 15px 15px 15px 70px;
  }
  .people {
    background: url(../img/icons/search-people.png) no-repeat 18px center;
  }
  .villages {
    background: url(../img/icons/search-villages.png) no-repeat 10px center;
  }
  .groups {
    background: url(../img/icons/search-groups.png) no-repeat 20px center;
  }
}
.white-heading {
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
  
.pagination {
  .clearfix;
  li {
    display: block;
    float: left;
    font-size: 15px;
    &.current {
      font-weight: bold;
    }
  }
  a {
    color: #6a8b1e;
    text-decoration: none;
    padding: 3px 5px;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
}

.third {
  width: 30%;
  padding: 20px 0 20px 25px;
  margin-right: 3%;
  float: left;
}


.refresh-button {
  display: block;
  border: none;
  width:35px ;
  height: 36px;
  text-indent: -9999em;
  text-decoration: none;
  background: url(../img/icons/refresh-button.png) no-repeat;
  &:hover {
    background: url(../img/icons/refresh-button-hover.png) no-repeat;
  }
}