
#container{
	.logo-holder{
		background: url('../static/graphics/separator.png') no-repeat top right;
		min-width: 422px;
		h1{
			min-height: 500px;
			text-indent: -1000em;
			background: url('../static/graphics/logo.png') no-repeat top left;
		}
	}
}

.connect-button-bg{
	min-height: 160px;
	background: url('../static/graphics/footer-background-1.png') no-repeat top right;
	background-size: 100%;
	opacity: 0.8;
	.slogan{
		background: url('../static/graphics/slogan.png') no-repeat top left;
		min-height: 150px !important;
		margin-top: 10px;
		margin-left: 30px !important;
	}

	.connect-button{
		margin-top: 20px;

		h2{
			font-size: 120%;
		}
		.btn-custom{
			padding: 15px 40px 15px 40px;
			background-color: black;
			.border-radius(14px);
			opacity: 0.8;
		
			color: @darkish-gray;
		
		}

		a:hover{
			text-decoration: none;
		}

	}
}


#footer-holder{
	// clear: both;
	// position: absolute;
	background: url('../static/graphics/bg-footer-123.png') repeat-x right top;

	#footer{

		.social-links{

			margin: 0;
			padding: 5px 0 5px 0;
			overflow: hidden;
			

			li{
				display: block;
				float: left;
				border-bottom: none;
				padding: 0;
				margin-left: 5px;
				width: 28px;
				height: 28px;
			}
		}

	}


	h4{
		color: @white;
	}

	ul{
		li{
			list-style: none;
			border-bottom: 1px dashed @light-gray;
			padding: 5px 0 15px 0;
			a{
				color: @white;
			}

			a:hover{
				text-decoration: none;
			}
		}
	}
}

.login-form{
	.login-image{
		min-height: 50px;
		background-color: @light-badami;

		img{
			// padding-left: 70px;
			padding-left: 30%;
			padding-top: 12px;
		}
	}

	.other-login-option{
		min-height: 40px;
		background-color: @dark-badami;
	}
	// padding-left: 10px;
	// text-align: center;
	.border-radius(9px);
	border: 2px solid @brownish-gray;
}

#footer-shared-earth{
	background-color: @light-brown;
	// font-weight: bold;
	ul{
		padding-top: 10px;
		li{
			a{
				color: @light-gray;
				padding-top: 10px;
			}

			a:hover{
				text-decoration: none;
			}
			padding-top: 10px;
			display: inline;
		}
	}
}

.header-after-login{
	background-color: @light-brown;
	color: @light-florecent-green;
	white-space: normal;


	.header-middle-icons{
		ul{
			li{
				display: inline;
			}
		}
	}

	.setting-icon{
		text-align: right;
		img{
			float: right;
		}
	}


	a{
		color: @light-florecent-green;
	}

	a:hover{
		text-decoration: none;
		color: @light-green;
	}
}

.header-bottom{
	margin-top: 20px;

	ul{
		// float: right;
		li{
			display: inline;
		}
	}

	.header-buttons{
		float: right;
	}


	.search-holder{
		float: right;
		input.rounded{
			.border-radius(6px);
			height: 25px;
			font-size: 17px;
		}	

		button{
			width: 30px;
			height: 35px;
			background: url('/assets/search-submit-image.png') no-repeat;
			border: none;
			// margin-bottom: 5px;
			margin-left: -30px;
			// border-left: 1px solid @dark-gray;
			text-indent: -1000em;
		}
	}

}

.dashboard-background{
	background: url('/assets/dashboard_background.png') no-repeat;
	height: 44px;

	.community-link{
		padding-top: 10px !important;
		
	}

	.nuron-image{
		padding-top: 5px;
		padding-left: 15px;
	}
}