.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.border-radius-bottom (@radius) {
-moz-border-radius-bottomright: @radius;
-moz-border-radius-bottomleft: @radius;

-webkit-border-bottom-right-radius: @radius;
-webkit-border-bottom-left-radius: @radius;
}