 <footer class='wrapper1'>
      <div class='container1'>
        <nav class='left1'>
          <a href='#' title='About'>About</a>
          <a href='#' title='About'>Commons</a>
          <a href='#' title='About'>Legal</a>
          <a href='#' title='About'>Transparency</a>
          <a href='#' title='About'>Blog</a>
          <a href='#' title='About'>Contribute</a>
          <a href='#' title='About'>Contact</a>
        </nav>
        <div class='right social-links'>
          <div class='fb'></div>
          <div class='tw'></div>
        </div>
      </div>
    </footer>
  