%footer.wrapper
	%div.container
		%nav.left 
			=link_to "About", about_path
			=link_to "Commons", "#"
			=link_to "Legal", "#"
			=link_to "Transparency", "#"
			=link_to "Blog", "#"
			=link_to "Contribute", contribute_path
			=link_to "Contact", "mailto:info@sharedearth.net"
		%div.right.social-links
			%div.fb
			%div.tw