.container-fluid.clearfix#footer
	.row-fluid
		%ul
			%li=link_to "About", about_path
			%li=link_to "Principles", principles_legal_notices_path
			%li=link_to "Transparency", transparency_path
			%li=link_to "Contribute", contribute_path
			%li=link_to "Contact", "mailto:info@sharedearth.net"
			%li=link_to "Terms", terms_path