%header.wrapper
	%div.container
		%div.community
			%div.community-buttons.row
				%a{:href=>"#", :class=>"community-button community-logo"} 
					%img{:src=>"/assets/img/icons/community-logo.png", :alt=>"SharedEarth Community"}
					%div.notification-bubble 3
				%a{:href=>"#", :class=>"community-button community-link"} Community
		%div.resource-list
			%div.resource-container
				.resource
					=current_user.person.trusted_network.size
				/ %a{:href=>"#", :title=>"Human", :class=>"resource resource-human"}21						
			%div.resource-container
				.resource.resource-gift
					=current_user.person.reputation_rating.gift_actions_count.to_s.to_s
				/ %a{:href=>"#", :title=>"Human", :class=>"resource resource-gift"}534						
			%div.resource-container
				.resource.resource-collect
					=current_user.person.items.count	
				/ %a{:href=>"#", :title=>"Human", :class=>"resource resource-collect"}321						
			%div.resource-container
				.resource.resource-davinci
					=current_user.person.reputation_rating.distinct_people_count.to_s
				/ %a{:href=>"#", :title=>"Human", :class=>"resource resource-davinci"}3 						
			%div.resource-container
				.resource.resource-thumbsup
					-feedback_rating = current_user.person.reputation_rating.feedback_rating?
					=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%")
				/ %a{:href=>"#", :title=>"Human", :class=>"resource  resource-thumbsup"}54
		%div.profile-settings
			%div.profile-left
				%div.row
					.user-name
						=current_user.name
					/ %a{:href=>"#", :title=>"Dan Gooden", :class=>"user-name"} Dan Gooden
				%div.row
					%a{:href=>"#", :title=>"settings", :class=>"settings-button", :id=>"settings-menu"} Settings
					%div.settings-dd#settings-dd
						%ul
							%li
								%a{:href=>"#", :title=>"settings"} Settings
							%li
								%a{:href=>"#", :title=>"Edit Profile"} Edit Profile
							%li
								%a{:href=>"#", :title=>"Disconnect"} Disconnect
						
			%div.user-avatar
				= image_tag current_user.avatar(:square), :class => "thumb"
%div.wrapper.subheader
	%div.container
		%div.left
			%a{:href=>"#", :title=>"SharedEarth", :class=>"logo"} SharedEarth
		%div.right
			%div.buttons
				%a{:href=>"#", :title=>"Share", :class=>"button"} Share
				%a{:href=>"#", :title=>"Ask", :class=>"button"} Ask
				%a{:href=>"#", :title=>"Connect", :class=>"button"} Connect
			%div.search-form
				%form
					%input{:type=>"text", :placeholder=>"Search", :class=>"search-input"}
					%input{:type=>"button", :value=>"Search", :class=>"search-button"}