:javascript
	$(document).ready(function() {
		/*      Main facebox   (i.e. sections)  */
		$("#share-facebox").click(function (){
		$('#facebox .popup').css("cssText", "width: 566px !important;");	
		$('#facebox .content').css("cssText", "width: 560px !important;");	
		$('#facebox .content').css("cssText", "padding-right: 0px !important;");
		$('#facebox .content').css("cssText", "padding-bottom: 1px !important;");
		$('.modal').css("cssText", "margin: -11px 0px 0px -11px !important;");
		$('.modal').css("cssText", "position: inherit !important;");
		
		var html= $(".share-facebox-html").html();
	
		$.facebox(html);
		
	
		
		
		
		
		
		});
						
	});
	
	function check1(){
	
	
	
	
	document.getElementById("checkbox-no").value=1;
	
	faceboxcode();
	
	}	
	function check2(){
	document.getElementById("checkbox-no").value=2;		
	faceboxcode();
	}
	function check3(){
	document.getElementById("checkbox-no").value=3;
	faceboxcode();	
	}
	function check4(){
	document.getElementById("checkbox-no").value=4;
	faceboxcode();	
  
	
	}
	function faceboxcode(){
	$('#facebox .body').css("cssText", "width: 450px !important;");
	$('#facebox .body').css("border-radius","10px 10px 10px 10px");
	$('#facebox .popup').css("cssText", "width: 450px !important;");
	$('#facebox .popup').css("border-radius","10px 10px 10px 10px");
	$('#facebox .content').css("cssText", "width: 450px !important;");
	$('#facebox .content').css("border-radius","10px 10px 10px 10px");
	$('.modal').css("cssText", "width: 450px !important;");
	$('.modal').css("border-radius","10px 10px 10px 10px");
	
	
	
	$("#detailed-sharing").html(" ");
		$("#main-footer").html("<div id='share-footer' onClick='DetailSharing();'><div id='down-arrow' ></div></div>");
	
	var sec=$(".share-small-popup").html();
	$.facebox(sec);		
	
	}
  
  
  
	function DetailSharing(){
		
		
			
	$('#facebox .body').css("cssText", "height: 693px !important;width: 450px !important;");
	$('#facebox .popup').css("cssText", "height: 693px !important;width: 450px !important;");
	$('#facebox .content').css("cssText", "height: 693px !important;width: 450px !important;");
	$('.modal').css("cssText", "height: 693px !important;width: 450px !important;");
	
	$("#share-facebox1").css("cssText"," height: 32px !important; line-height: 10px !important; text-decoration: none !important; width: 107px !important;");
	$("#change").css("cssText"," color: #B9B9B8 !important; font-size: 12px !important; margin-left: 357px !important; text-decoration: underline !important;")
	
		$("#remove-change").html("");
		$("#main-footer").html("<div id='share-footer' style='margin-left:0px !important;'onClick='Sharing();'><div id='up-arrow'></div></div>");
		
		$("#detailed-sharing").html($("#share-in-details").html());
		
		var DetailHtml= $(".share-small-popup").html();
		alert(DetailHtml);
		$(".content:eq(1)").html(DetailHtml);
	
	
			
	
	}  
	function Sharing(){
	$('#facebox .body').css("cssText", "width: 450px !important;");
	$('#facebox .body').css("border-radius","10px 10px 10px 10px");
	$('#facebox .popup').css("cssText", "width: 450px !important;");
	$('#facebox .popup').css("border-radius","10px 10px 10px 10px");
	$('#facebox .content').css("cssText", "width: 450px !important;");
	$('#facebox .content').css("border-radius","10px 10px 10px 10px");
	$('.modal').css("cssText", "width: 450px !important;");
	$('.modal').css("border-radius","10px 10px 10px 10px");
	
	
	/*$("#remove-change").html("<a href='#' id='change'>change</a>");*/
	$("#detailed-sharing").html(" ");
	$("#main-footer").html("<div id='share-footer' onClick='DetailSharing();'><div id='down-arrow' ></div></div>");
	var DetailHtml= $(".share-small-popup").html();
	
	$(".content:eq(1)").html(DetailHtml);
	
	
	}

%header.wrapper
	%div.container
		%div.community
			%div.community-buttons
				%a{:href=>"#", :class=>"community-button community-logo"} 
					%img{:src=>"/assets/img/icons/community-logo.png", :alt=>"SharedEarth Community"}
					%div.notification-bubble 3
				=link_to "Community", community_path, :class => "community-button community-link"
				
		%div.resource-list
			%div.resource-container
				.resource.resource-human
					=current_user.person.trusted_network.size					
			%div.resource-container
				.resource.resource-gift
					=current_user.person.reputation_rating.gift_actions_count.to_s.to_s
			%div.resource-container
				.resource.resource-collect
					=current_user.person.items.count
			%div.resource-container
				.resource.resource-davinci
					=current_user.person.reputation_rating.distinct_people_count.to_s
			%div.resource-container
				.resource.resource-thumbsup
					-feedback_rating = current_user.person.reputation_rating.feedback_rating?
					=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "")
		%div.profile-settings
			%div.profile-left
				%div.row
					#user-name.user-name
						=current_user.person.name
				%div.row
					=link_to "Settings", "#", :class => "settings-button", :id => "settings-menu"
					
					%div.settings-dd#settings-dd
						%ul
							%li
								=link_to "Settings", "#"
							%li
								=link_to "Edit Profile", "#"
							%li
								=link_to "Disconnect", signout_path
						
			%div.user-avatar
				= image_tag current_user.avatar(:square), :class => "thumb"
%div.wrapper.subheader
	%div.container
		%div.left
			=link_to "SharedEarth", root_url, :class => "logo"
		%div.right
			%div.buttons
				-if !current_user.blank?
					=link_to "Share", "#", :class => "button", :id=>"share-facebox"
					=link_to "Ask", "#", :class => "button"
				=link_to "Connect", connect_path, :class => "button"
			%div.search-form
				%form
					=form_tag search_index_path, :method => 'get' , :class => "search-form" do
						=text_field_tag :search, params[:search], :placeholder => "Search", :id=>"search-input", :class => "search-input", :style=>" border-radius: 8px 8px 8px 8px;height:37px;width:231px;"
						%button{:title => "Search", :type => "submit", :class => "search-button"} Search
					= render :partial => "shared/community_share"
					%input{:type=>"hidden", :id=>"checkbox-no"}
					= render :partial => "shared/community_share_input_popup"					