%header.wrapper
	%div.container
		%div.community
			%div.community-buttons.row
				%a{:href=>"#", :class=>"community-button community-logo"} 
					%img{:src=>"/assets/img/icons/community-logo.png", :alt=>"SharedEarth Community"}
					%div.notification-bubble 3
				%a{:href=>"#", :class=>"community-button community-link"} Community
		%div.resource-list
			%div.resource-container
				.resource.resource-human
					=current_user.person.trusted_network.size					
			%div.resource-container
				.resource.resource-gift
					=current_user.person.reputation_rating.gift_actions_count.to_s.to_s
			%div.resource-container
				.resource.resource-collect
					=current_user.person.items.count
			%div.resource-container
				.resource.resource-davinci
					=current_user.person.reputation_rating.distinct_people_count.to_s
			%div.resource-container
				.resource.resource-thumbsup
					-feedback_rating = current_user.person.reputation_rating.feedback_rating?
					=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%")
		%div.profile-settings
			%div.profile-left
				%div.row
					.user-name
						=current_person.name
				%div.row
					=link_to "Settings", "#", :class => "settings-button", :id => "settings-menu"
					
					%div.settings-dd#settings-dd
						%ul
							%li
								=link_to "Settings", "#"
							%li
								=link_to "Edit Profile", "#"
							%li
								=link_to "Disconnect", "#"
						
			%div.user-avatar
				= image_tag current_user.avatar(:square), :class => "thumb"
%div.wrapper.subheader
	%div.container
		%div.left
			=link_to "SharedEarth", root_url, :class => "logo"
		%div.right
			%div.buttons
				-if !current_user.blank?
					=link_to "Share", new_item_path, :class => "button"
					=link_to "Ask", "#", :class => "button"
				=link_to "Connect", "#", :class => "button"
			%div.search-form
				%form
					%input{:type=>"text", :placeholder=>"Search", :class=>"search-input"}
					%input{:type=>"button", :value=>"Search", :class=>"search-button"}