.container-fluid.header-after-login
	.row-fluid
		.span5.dashboard-background

			.span2.nuron-image
				=link_to image_tag("nuron.png"), dashboard_path
			.span2.community-link
				%strong=link_to "Community", community_path
		.span4.header-middle-icons.clearfix
			.row-fluid
				.span1
					.row-fluid
						%strong=current_user.person.trusted_network.size
					.row-fluid
						=image_tag"connection_icon.png"
				.span1
					.row-fluid
						%strong=current_user.person.reputation_rating.gift_actions_count.to_s.to_s
					.row-fluid
						=image_tag"gift_icon.png"
				.span1
					.row-fluid
						%strong=current_user.person.items.count
					.row-fluid
						=image_tag"leaf_icon.png"
				.span1
					.row-fluid
						%strong=current_user.person.reputation_rating.distinct_people_count.to_s
					.row-fluid
						=image_tag"hand.png"
				.span1
					.row-fluid
						-feedback_rating = current_user.person.reputation_rating.feedback_rating?
						%strong=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "%")
					.row-fluid
						=image_tag"thumb_icon.png"

		.span3.setting-icon.clearfix
			.span9
				.row-fluid
					=current_user.name
				.row-fluid
					=link_to image_tag("setting_icon.png"), "#"
			.span1
			.span2
				= image_tag current_user.avatar(:square), :class => "thumb"

.container-fluid.header-bottom
	.row-fluid
		.span5
			=link_to image_tag("sharedearth_logo_beta.png"), root_url

		/ .span7
		/ 	%ul
		/ 		%li=link_to image_tag("share.png"), "#"
		/ 		%li=link_to image_tag("ask.png"), "#"
		/ 		%li=link_to image_tag("connect.png"), "#"
		/ 		%li{:class=>"search-holder clearfix"}
		/ 			=form_tag search_index_path, :method => 'get' , :class => "search-form" do
		/ 				.search-bg-holder-first.clearfix
		/ 					=text_field_tag :search, params[:search], :placeholder => "Search", :class => "rounded"
		/ 					%button{:title => "Search", :type => "submit"} Search


		.span4.header-buttons
			=link_to image_tag("share.png"), new_item_path
			=link_to image_tag("ask.png"), "#"
			=link_to image_tag("connect.png"), "#"
			/ .search-holder.clearfix
		.span3
			.search-holder.clearfix
				=form_tag search_index_path, :method => 'get' , :class => "search-form" do
					.search-bg-holder-first.clearfix
						=text_field_tag :search, params[:search], :placeholder => "Search", :class => "rounded"
						%button{:title => "Search", :type => "submit"} Search

/ TO DO :- text is flowing out of it's div element 