:javascript
	$(document).ready(function() {
		/*      Main facebox   (i.e. sections)  */
		$("#share-facebox").click(function (){
		$('#facebox .popup').css("cssText", "width: 566px !important;");	
		$('#facebox .content').css("cssText", "width: 560px !important;");	
		$('#facebox .content').css("cssText", "padding-right: 0px !important;");
		$('#facebox .content').css("cssText", "padding-bottom: 1px !important;");
		$('.modal').css("cssText", "margin: -11px 0px 0px -11px !important;");
		$('.modal').css("cssText", "position: inherit !important;");
		
		var html= $(".share-facebox-html").html();
	
		$.facebox(html);
		$(".close_image").attr("src","/assets/img/icons/close-sprite-black.png");
	
		
		
		
		
		
		});
						
	});
	
	function check1(){
		
	
	$("#purpose-type").val(10);
	
	faceboxcode();
	
	}	
	function check2(){
	$("#purpose-type").val(20);
	document.getElementById("checkbox-no").value=2;		
	faceboxcode();
	}
	function check3(){
	$("#purpose-type").val(30);
	document.getElementById("checkbox-no").value=3;
	faceboxcode();	
	}
	function check4(){
	$("#purpose-type").val(40);
	document.getElementById("checkbox-no").value=4;
	faceboxcode();	
  
	
	}
	function faceboxcode(){
	
	$("#purpose-type").val(10);	
	$("#item-type").val("share");


	Sharing(1,0);	

	}
  
  
  
	function DetailSharing(){
	
			
	$('#facebox .body').css("cssText", "height: 450px !important;width: 450px !important;");
	$('#facebox .popup').css("cssText", "height: 450px !important;width: 450px !important;");
	$('#facebox .content').css("cssText", "height: 450px !important;width: 450px !important;");
	$('.modal').css("cssText", "height: 450px !important;width: 450px !important;");
	
		$("#msj").html("");
		$("#msj").css("cssText","margin-top:-9px;")
	
		$('#change').css("cssText", "display:none !important;");
	
		$("#main-footer").html("<div id='share-footer' style='position:relative;bottom:-316px;'onClick='Sharing(0);'><div id='up-arrow'></div></div>");
		
		$("#detailed-sharing").html($("#share-in-details").html());
		
		var DetailHtml= $(".share-small-popup").html();
		
		$(".content:eq(1)").html(DetailHtml);
	
	
			
	
	}  
	function Sharing(v,e){
	
	$('#facebox .body').css("cssText", "width: 450px !important;height:200px !important;");
	$('#facebox .body').css("border-radius","10px 10px 10px 10px");
	$('#facebox .popup').css("cssText", "width: 450px !important;height:200px !important;");
	$('#facebox .popup').css("border-radius","10px 10px 10px 10px");
	$('#facebox .content').css("cssText", "width: 450px !important;height:200px !important;");
	$('#facebox .content').css("border-radius","10px 10px 10px 10px");
	$('.modal').css("cssText", "width: 450px !important;height:200px !important;");
	$('.modal').css("border-radius","10px 10px 10px 10px");
	
	$('#change').css("cssText", "display:block !important;");
	
	$("#detailed-sharing").html(" ");
	$("#main-footer").html("<div id='share-footer' style='position:relative;bottom:-6px;' onClick='DetailSharing();'><div  id='down-arrow' ></div></div>");
	var DetailHtml= $(".share-small-popup").html();
	
	if (v==1)
	{
	
	$.facebox(DetailHtml);
	}
	else
	{
	
	$(".content:eq(1)").html(DetailHtml);
	//$.facebox(DetailHtml);
	}
	document.forms[5].hid.value="small";
	}
	
	
	
	
	
	/*    Validation */
	function validate(text){
	
	if (text==""){
		if (document.forms[5].hid.value=="small"){
		$("#msj").html("Please fill above field");
		$("#msj").css("cssText","margin-top:-29px;")
		var LessHtml= $(".share-small-popup").html();
		$(".content:eq(1)").html(LessHtml);
		}
		else{
		
		$("#msj").css("cssText","position:absolute;bottom:87px; !important;");
		$("#msj").html("");
		DetailSharing();
		}
		return false;
	}
	else 
	{
		
		return true;
	}
	}
	
	/*   Upload photos  */
	function OpenBrowse(text,name){
	$("#browse_option").html("<input class='realupload' id='item_photo' name='item[photo]' type='file'>");
	$("#item_photo").css("cssText","margin-top:50px;")
	
	
	
	
	
	
	var DetailHtmlPhoto= $(".share-small-popup").html();
	
	$(".content:eq(1)").html(DetailHtmlPhoto);
	document.forms[5].share_text.value=text;
	
	
	document.forms[5].item_name[0].value=name;
	
	
	
	}
	
	
	
	
	
	
	
	
	
	
	
	
	

%header.wrapper{:style=>"font-family:HelveticaRegular;"}
	%div.container
		%div.community
			%div.community-buttons
				%a{:href=>"#", :class=>"community-button community-logo"} 
					%img{:src=>"/assets/img/icons/community-logo.png", :alt=>"SharedEarth Community"}
					%div.notification-bubble 3
				=link_to "Community", community_path, :class => "community-button community-link"
				
		%div.resource-list
			%div.resource-container
				.resource.resource-human
					=current_user.person.trusted_network.size					
			%div.resource-container
				.resource.resource-gift
					=current_user.person.reputation_rating.gift_actions_count.to_s.to_s
			%div.resource-container
				.resource.resource-collect
					=current_user.person.items.count
			%div.resource-container
				.resource.resource-davinci
					=current_user.person.reputation_rating.distinct_people_count.to_s
			%div.resource-container
				.resource.resource-thumbsup
					-feedback_rating = current_user.person.reputation_rating.feedback_rating?
					=feedback_rating.nil? ? "n/a" : (feedback_rating.to_s + "")
		%div.profile-settings
			%div.profile-left
				%div.row
					#user-name.user-name
						=current_user.person.name
				%div.row
					=link_to "Settings", "#", :class => "settings-button", :id => "settings-menu"
					
					%div.settings-dd#settings-dd
						%ul
							%li
								=link_to "Settings", "#"
							%li
								=link_to "Edit Profile", "#"
							%li
								=link_to "Disconnect", signout_path
						
			%div.user-avatar
				= image_tag current_user.avatar(:square), :class => "thumb"
%div.wrapper.subheader{:style=>"font-family:HelveticaRegular;"}
	%div.container{:style=>"min-width:1200px;"}
		%div.left
			=link_to "SharedEarth", root_url, :class => "logo"
		%div.right
			%div.buttons
				-if !current_user.blank?
					=link_to "Share", "#", :class => "button", :id=>"share-facebox"
					=link_to "Ask", "#", :class => "button"
				=link_to "Connect", connect_path, :class => "button"
			%div.search-form
				%form
					=form_tag search_index_path, :method => 'get' , :class => "search-form" do
						=text_field_tag :search, params[:search], :placeholder => "Search", :id=>"search-input", :class => "search-input", :style=>" border-radius: 8px 8px 8px 8px;height:37px;width:231px;"
						%button{:title => "Search", :type => "submit", :class => "search-button"} Search
					= render :partial => "shared/community_share"
					%input{:type=>"hidden", :id=>"checkbox-no"}
					= render :partial => "shared/community_share_input_popup"					