<div class="button-holder-connect">
	<h2>
   		<a title="connect" href="/auth/facebook">connect</a>
	</h2>
	<p>
   		Locate <span>shared</span> resources anywhere on 
		<br />
		<span>earth</span> and access them as needed.
	</p>
</div>	


<div class="stats-holder">
	<ul>
		<li>
			<a href="#">1 earth</a>
		</li>
		<li class="people">
			<a href="#">9999 human beings connected</a>
		</li>
		<li class="resources-shared">
			<a href="#">1411 resources shared</a>
		</li>
		<li class="resources-commoned">
			<a href="#">300 resources commoned</a>
		</li>
		<li class="gift">
			<a href="#">400 gift actions undertaken</a>
		</li>
	</ul>
</div>
<!-- /stats-holder -->
