 <p>	
    sharedearth.net is a social network for humans to build 
    <strong>trust</strong> and <strong>share</strong> possessions and skills, helping us rewrite 
    our cultural and economic stories to reflect our emerging 
    experience of universal <strong>interconnection</strong>. <!-- <a class="learn-more" href="/about">Learn more.</a> -->
 </p>

 <div class="button-holder-connect">
    <h2>
       <%= link_to "connect", '/no_javascript', :title =>"connect" %>
    </h2>
    <!-- <p>
           <a href="" id="no_facebook">No Facebook?</a>
        </p> -->
 </div>

 <div class="button-holder-host">
    <h2>
       <a href="http://sharedearthplatform.org" title="host your own server">host your own server</a>
    </h2>
 </div>
