<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>sharedearth.net - trust. share. connect.</title>
	
	<link rel="stylesheet" href="static/css/reset-min.css" type="text/css" media="screen" title="no title" charset="utf-8" />
	<link rel="stylesheet" href="static/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8" />

	<!--[if lte IE 6]><link type="text/css" rel="stylesheet" href="static/css/ie.css" media="screen" /><![endif]-->
	<!--[if IE 7]><link type="text/css" rel="stylesheet" href="static/css/ie7.css" media="screen" /><![endif]-->

	<script src="static/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="static/js/script.js" type="text/javascript" charset="utf-8"></script>
	<%= favicon_link_tag 'favicon.ico' %>
	
</head>
<body>

	<div id="container">

		<h1 title="sharedearth.net - from ego to wego">
			sharedearth.net - from ego to wego
		</h1>

		<div id="content" class="clearfix">


			<p>	
				sharedearth.net is a social network for humans to build 
				<strong>trust</strong> and <strong>share</strong> possessions and skills, helping us rewrite 
				our cultural and economic stories to reflect our emerging 
				experience of universal <strong>interconnection</strong>. <a class="learn-more" href="/about">Read more.</a>
			</p>
			<div class="button-holder-connect">
				<h2>
					<%= link_to "connect", '/auth/facebook', :title =>"connect" %>
				</h2>
				<p>
					(requires Facebook)
				</p>
			</div>

			<div class="button-holder-host">
				<h2>
					<a href="http://sharedearthplatform.org" title="host your own server">host your own server</a>
				</h2>
			</div>

		</div>


		<div id="footer">
			<p>
				<a href="/about">About</a>&nbsp;&nbsp;   <a href="/terms/principles">Principles</a>&nbsp;&nbsp;   <a href="/transparency">Transparency</a>&nbsp;&nbsp;   <a href="mailto:@sharedearth.net">Contact</a>&nbsp;&nbsp;    <a href="/terms">Terms</a>
			</p>
		</div>

	</div>
	<!-- #container -->

</body>
</html>
